Repository aragon/aragon-apps, pull requests merged in 2018-08, with the labels that each got.

#414 Finance: add `hasBudget` to `CHANGE_BUDGETS_ROLE`
  apps/finance/arapp.json
  apps/finance/contracts/Finance.sol
  apps/finance/package.json
Labels: app: finance, audit: cd, component: contracts, epic: audit, sprint: 0.5.4

#420 Finance: fix unnecessary request to get token logo when loading placeholder
  apps/finance/app/src/components/BalanceToken.js
  apps/finance/app/src/components/Balances.js
Labels: app: finance, epic: in sprint addition, type: bug

#341 Finance: upgrade solidity-coverage to 0.4.3
  apps/finance/package.json
Labels: epic: aragon-apps next, sprint: 0.5.3, sprint: 0.5.4, sprint: 0.5.5

#386 Add build command to main app repos
  apps/finance/package.json
  apps/survey/package.json
  apps/token-manager/package.json
  apps/voting/package.json
Labels: component: dapp, sprint: 0.5.2, type: enhancement
