Repository aragon/aragon-apps, pull requests merged in 2018-10, with the labels that each got.

#469 Pin parcel-bundler and date-fns to prevent any break
  apps/voting/app/package.json
Labels: app: voting, component: frontend

#468 Voting: Add missing new role to arapp.json
  apps/voting/arapp.json
Labels: app: voting, status: quick-review-and-merge

#432 Token-manager: use bn.js
  .travis.yml
  apps/token-manager/app/.babelrc
  apps/token-manager/app/.eslintrc
  apps/token-manager/app/package.json
  apps/token-manager/app/src/App.js
  apps/token-manager/app/src/components/HolderRow.js
  apps/token-manager/app/src/components/Panels/AssignVotePanelContent.js
  apps/token-manager/app/src/components/SideBar.js
  apps/token-manager/app/src/math-utils.js
  apps/token-manager/app/src/screens/Holders.js
  apps/token-manager/app/src/script.js
  apps/token-manager/app/src/utils.js
  apps/token-manager/app/src/utils.test.js
  package.json
Labels: app: token manager, component: frontend

#491 Vault: remove `_from` parameter in `deposit()`
  apps/finance/contracts/Finance.sol
  apps/finance/test/finance.js
  apps/vault/contracts/Vault.sol
  apps/vault/test/vault.js
Labels: app: vault, audit: whg, component: contracts

#482 Voting: fixes for #467
  apps/voting/app/.eslintrc
  apps/voting/app/src/App.js
  apps/voting/app/src/components/SummaryBar.js
  apps/voting/app/src/components/SummaryRows.js
  apps/voting/app/src/components/VotePanelContent.js
  apps/voting/app/src/components/VoteRow.js
  apps/voting/app/src/components/VoteStatus.js
  apps/voting/app/src/components/VoteSuccess.js
  apps/voting/app/src/components/VoteSummary.js
  apps/voting/app/src/components/VotesTable.js
  apps/voting/app/src/components/VotingCard/VotingCard.js
  apps/voting/app/src/screens/Votes.js
  apps/voting/app/src/vote-utils.js
Labels: app: voting, component: frontend

#467 Voting panel: improve the presentation of the status of a vote
  apps/voting/app/.eslintrc
  apps/voting/app/package.json
  apps/voting/app/src/App.js
  apps/voting/app/src/abi/token-symbol.json
  apps/voting/app/src/components/SummaryBar.js
  apps/voting/app/src/components/SummaryRows.js
  apps/voting/app/src/components/VotePanelContent.js
  apps/voting/app/src/components/VoteRow.js
  apps/voting/app/src/components/VoteStatus.js
  apps/voting/app/src/components/VoteSuccess.js
  apps/voting/app/src/components/VoteSummary.js
  apps/voting/app/src/components/VotesTable.js
  apps/voting/app/src/components/VotingCard/VotingCard.js
  apps/voting/app/src/index.js
  apps/voting/app/src/math-utils.js
  apps/voting/app/src/rxjs.js
  apps/voting/app/src/screens/Votes.js
  apps/voting/app/src/script.js
  apps/voting/app/src/vote-utils.js
Labels: app: voting, component: frontend

#485 Token Manager: small updates
  apps/token-manager/app/.eslintrc
  apps/token-manager/app/src/App.js
  apps/token-manager/app/src/components/Panels/AssignVotePanelContent.js
  apps/token-manager/app/src/components/SideBar.js
  apps/token-manager/app/src/components/TokenBadge.js
  apps/token-manager/app/src/token-settings.js
  apps/token-manager/app/src/utils.js
Labels: app: token manager, component: frontend

#487 Token Manager: modernize background script
  apps/token-manager/app/src/App.js
  apps/token-manager/app/src/rxjs.js
  apps/token-manager/app/src/script.js
Labels: app: token manager, component: frontend

#486 Token Manager: fix input fields' step behavour and accuracy
  apps/token-manager/app/src/App.js
  apps/token-manager/app/src/components/Panels/AssignVotePanelContent.js
  apps/token-manager/app/src/utils.js
  apps/token-manager/app/src/utils.test.js
Labels: app: token manager, component: frontend

#492 Vault: remove ability to call contracts with data
  apps/vault/contracts/Vault.sol
  apps/vault/test/mocks/DestinationMock.sol
  apps/vault/test/vault.js
Labels: app: vault, audit: whg, component: contracts

#481 Voting: require votes to have positive token snapshots
  apps/voting/contracts/Voting.sol
  apps/voting/test/voting.js
Labels: app: finance, app: voting, component: contracts

#495 Add revert reasons to proxies
  apps/finance/contracts/Finance.sol
  apps/survey/contracts/Survey.sol
  apps/token-manager/contracts/TokenManager.sol
  apps/vault/contracts/Vault.sol
  apps/voting/contracts/Voting.sol
Labels: app: finance, app: survey, app: token manager, app: vault, app: voting, audit: whg, component: contracts

#497 Fix date format
  apps/finance/app/package.json
  apps/finance/app/src/components/TransferRow.js
  apps/finance/app/src/components/Transfers.js
  apps/survey/app/package.json
  apps/survey/app/src/components/SurveyCard/SurveyCard.js
  apps/voting/app/package.json
  apps/voting/app/src/components/VotingCard/VotingCard.js
  apps/voting/app/src/vote-utils.js
Labels: app: finance, app: survey, app: voting, component: frontend

#412 Survey: fix calculation when votes are reset
  apps/survey/app/src/App.js
  apps/survey/app/src/script.js
Labels: breaking-change, component: frontend, epic: in sprint addition, sprint: 0.5.4

#360 Survey: Add Jest and some tests for math-utils.js
  apps/survey/app/.babelrc
  apps/survey/app/package.json
  apps/survey/app/src/math-utils.js
  apps/survey/app/src/math-utils.test.js
Labels: app: survey

#484 Rename totalVoters => votingPower
  apps/survey/test/survey.js
  apps/voting/app/src/App.js
  apps/voting/app/src/components/VotingCard/VotingCard.js
  apps/voting/app/src/components/VotingCard/VotingOptions.js
  apps/voting/app/src/screens/Votes.js
  apps/voting/app/src/script.js
  apps/voting/app/src/vote-utils.js
  apps/voting/contracts/Voting.sol
  apps/voting/test/voting.js
Labels: app: voting, breaking-change, component: contracts, component: frontend

#529 Finance: use @dev comments to fix linting
  apps/finance/contracts/Finance.sol
Labels: app: finance, component: contracts

#536 Vault: rename events to avoid clashing with ERC20 Transfer event
  apps/vault/contracts/Vault.sol
Labels: app: vault, component: contracts

#545 Upgrade vault version
  apps/finance/app/src/abi/vault-events.json
  apps/finance/arapp.json
  apps/finance/package.json
  apps/vault/package.json
Labels: app: finance, app: vault

#542 Finance: add list of verified tokens for mainnet
  apps/finance/app/src/App.js
  apps/finance/app/src/components/BalanceToken.js
  apps/finance/app/src/components/Balances.js
  apps/finance/app/src/lib/token-utils.js
  apps/finance/app/src/lib/verified-tokens.js
  apps/finance/app/src/script.js
Labels: app: finance

#527 Finance funding
  apps/finance/app/package.json
  apps/finance/app/src/App.js
  apps/finance/app/src/components/BalanceToken.js
  apps/finance/app/src/components/Balances.js
  apps/finance/app/src/components/GetWindowSize.js
  apps/finance/app/src/components/NewTransfer/Deposit.js
  apps/finance/app/src/components/NewTransfer/PanelContent.js
  apps/finance/app/src/components/NewTransfer/Withdrawal.js
  apps/finance/app/src/components/ToggleContent.js
  apps/finance/app/src/components/TransferRow.js
  apps/finance/app/src/components/Transfers.js
  apps/finance/app/src/components/assets/add-funds-icon.svg
  apps/finance/app/src/components/assets/arrow.svg
  apps/finance/app/src/lib/token-utils.js
  apps/finance/app/src/lib/verified-tokens.js
  apps/finance/app/src/script.js
Labels: app: finance, component: frontend

#552 Apps: fix linting
  apps/finance/app/src/App.js
  apps/token-manager/app/src/App.js
  apps/voting/app/src/vote-utils.js
Labels: component: frontend
