Repository aragon/aragon-apps, pull requests merged in 2018-07, with the labels that each got.

#358 Update test-helpers in apps
  apps/finance/package.json
  apps/survey/package.json
  apps/token-manager/package.json
  apps/vault/package.json
  apps/voting/package.json
  future-apps/payroll/package.json
Labels: epic: Payroll, sprint: 0.5.2, status: quick-review-and-merge

#401 Finance: add receiver to radspec string of newPayment()
  apps/finance/contracts/Finance.sol
Labels: app: finance, component: contracts, sprint: 0.5.3

#397 Finance: use ERC20 typing in function parameters
  apps/finance/contracts/Finance.sol
Labels: audit: cd, component: contracts, epic: audit, sprint: 0.5.3

#395 Explicitly define state visibility
  apps/finance/contracts/Finance.sol
  apps/survey/contracts/Survey.sol
  apps/token-manager/contracts/TokenManager.sol
  apps/voting/contracts/Voting.sol
Labels: audit: cd, component: contracts, epic: audit, sprint: 0.5.3

#399 Finance: set the budget to 0 when removing a budget
  apps/finance/contracts/Finance.sol
  apps/finance/test/finance.js
Labels: app: finance, audit: cd, component: contracts, epic: audit, sprint: 0.5.3

#400 Finance: add transitionsPeriod to fallback
  apps/finance/contracts/Finance.sol
  apps/finance/test/finance.js
Labels: app: finance, audit: cd, component: contracts, epic: audit, sprint: 0.5.3

#404 Finance: make fallback external
  apps/finance/contracts/Finance.sol
Labels: app: finance, component: contracts, sprint: 0.5.3

#402 Finance: remove limit on transitions per transaction in transitionsPeriod modifier
  apps/finance/contracts/Finance.sol
  apps/finance/test/finance.js
  apps/finance/test/mocks/FinanceMock.sol
Labels: app: finance, audit: cd, component: contracts, epic: audit, sprint: 0.5.3

#411 Survey: adapt mock test token to aragonOS PR 357
  apps/survey/test/mocks/BadToken.sol
Labels: audit: cd, epic: audit, sprint: 0.5.4, status: quick-review-and-merge
