Repository aragon/aragon-apps, pull requests merged in 2018-03, with the labels that each got.

#77 Voting app
  apps/voting/app/.gitignore
  apps/voting/app/README.md
  apps/voting/app/index.html
  apps/voting/app/package.json
  apps/voting/app/public/images/icon.svg
  apps/voting/app/public/index.html
  apps/voting/app/src/App.js
  apps/voting/app/src/assets/empty-card-icon.svg
  apps/voting/app/src/components/AppLayout.js
  apps/voting/app/src/components/NewVotePanelContent.js
  apps/voting/app/src/components/ProgressBar.js
  apps/voting/app/src/components/VotePanelContent.js
  apps/voting/app/src/components/VoteRow.js
  apps/voting/app/src/components/VoteStatus.js
  apps/voting/app/src/components/VoteSummary.js
  apps/voting/app/src/components/VotesTable.js
  apps/voting/app/src/demo-state.js
  apps/voting/app/src/index.js
  apps/voting/app/src/screens/EmptyState.js
  apps/voting/app/src/screens/Votes.js
  apps/voting/app/src/vote-types.js
  apps/voting/app/src/vote-utils.js
  apps/voting/app/yarn.lock
Labels: app: voting, component: dapp, status: wip

#162 Radspec strings
  apps/finance/contracts/Finance.sol
  apps/token-manager/contracts/TokenManager.sol
  apps/voting/contracts/Voting.sol
Labels: app: finance, app: token manager, app: voting

#172 Radspec voting
  apps/voting/app/package.json
  apps/voting/app/src/App.js
  apps/voting/app/src/components/VotePanelContent.js
  apps/voting/app/src/script.js
  apps/voting/app/src/vote-utils.js
  apps/voting/app/yarn.lock
Labels: app: voting, component: dapp, type: enhancement
