Repository aragon/aragon-apps, pull requests merged in 2018-09, with the labels that each got.

#447 TokenManager: disable recoverability for own tokens
  apps/token-manager/contracts/TokenManager.sol
  apps/token-manager/test/tokenmanager.js
Labels: app: token manager, audit, audit: cd, audit: whg, component: contracts, epic: audit

#413 Survey: fix linting
  apps/survey/app/src/components/Survey/Survey.js
  apps/survey/app/src/components/Survey/SurveyDetails.js
  apps/survey/app/src/components/Survey/VotesHistory.js
  apps/survey/app/src/components/VotingPanel/VotingPanel.js
Labels: component: frontend, epic: in sprint addition, sprint: 0.5.4

#431 Upgrade to aragonOS@4.0.0-beta.1
  apps/finance/package.json
  apps/survey/package.json
  apps/token-manager/contracts/TokenManager.sol
  apps/token-manager/package.json
  apps/token-manager/test/tokenmanager.js
  apps/vault/contracts/Vault.sol
  apps/vault/contracts/test/mocks/KernelDepositableMock.sol
  apps/vault/package.json
  apps/vault/test/vault.js
  apps/voting/package.json
Labels: component: contracts

#455 Voting: reorder min quorum sanity checks for clarity
  apps/voting/contracts/Voting.sol
Labels: app: voting, component: contracts

#456 Survey check in options master
  apps/survey/contracts/Survey.sol
  apps/survey/test/survey.js
Labels: app: survey, component: contracts

#428 Convert dynamic arrays to mapping
  apps/finance/contracts/Finance.sol
  apps/finance/test/finance.js
  apps/survey/contracts/Survey.sol
  apps/token-manager/contracts/TokenManager.sol
  apps/token-manager/test/tokenmanager.js
  apps/voting/contracts/Voting.sol
  apps/voting/test/voting.js
Labels: component: contracts, epic: audit

#457 Cosmetic improvements
  apps/finance/contracts/Finance.sol
  apps/survey/contracts/Survey.sol
  apps/token-manager/contracts/TokenManager.sol
  apps/voting/contracts/Voting.sol
Labels: component: contracts

#451 Finance: refactor deposit and allow recoverability before initialization
  apps/finance/contracts/Finance.sol
  apps/finance/contracts/test/mocks/ForceSendETH.sol
  apps/finance/test/finance.js
Labels: app: finance, component: contracts, epic: audit

#442 Token Manager: remove tokenGrantsCount as it's the same as vestingsLength
  apps/token-manager/contracts/TokenManager.sol
Labels: app: token manager, component: contracts

#441 Token Manager: stop logging holders
  apps/token-manager/contracts/TokenManager.sol
  apps/token-manager/test/tokenmanager.js
Labels: app: token manager, component: contracts

#443 Token Manager: reorganize token callbacks to be close to each other
  apps/token-manager/contracts/TokenManager.sol
Labels: app: token manager, component: contracts

#440 Token Manager: SafeMath optimizations
  apps/token-manager/contracts/TokenManager.sol
Labels: app: token manager, component: contracts

#453 Finance: make uint constants internal
  apps/finance/contracts/Finance.sol
  apps/finance/contracts/test/mocks/FinanceMock.sol
  apps/finance/test/finance.js
Labels: app: finance, component: contracts

#458 Voting: Allow to modify required support
  apps/voting/contracts/Voting.sol
  apps/voting/test/voting.js
Labels: app: voting, component: contracts

#438 Survey: add acceptableMinParticipationPct modifier
  apps/survey/contracts/Survey.sol
Labels: app: survey, component: contracts

#446 Move protection checks to external interfaces and optimize them
  apps/finance/contracts/Finance.sol
  apps/token-manager/contracts/TokenManager.sol
  apps/vault/contracts/Vault.sol
  apps/voting/contracts/Voting.sol
Labels: component: contracts

#452 Finance: optimize state
  apps/finance/contracts/Finance.sol
  apps/finance/contracts/test/mocks/FinanceMock.sol
Labels: app: finance, component: contracts

#459 Voting: make inequality strict
  apps/voting/contracts/Voting.sol
  apps/voting/test/voting.js
Labels: app: voting, component: contracts

#460 Voting: make inequality strict, tests
  apps/voting/test/voting.js
Labels: app: voting, component: contracts

#450 Voting panel: execute + change vote
  apps/voting/app/src/App.js
  apps/voting/app/src/abi/token-balanceOfAt.json
  apps/voting/app/src/components/VotePanelContent.js
  apps/voting/app/src/components/VotingCard/VotingCard.js
  apps/voting/app/src/utils.js
Labels: app: voting, component: frontend, epic: voting

#342 Voting: fix VotePanel not using balanceOfAt()
  apps/voting/app/src/App.js
  apps/voting/app/src/abi/token-balanceOfAt.json
  apps/voting/app/src/components/VotePanelContent.js
Labels: app: voting, component: frontend

#448 Voting: updates
  apps/voting/app/.gitignore
  apps/voting/app/index.html
  apps/voting/app/package.json
  apps/voting/app/src/App.js
  apps/voting/app/src/components/ProgressBar.js
  apps/voting/app/src/components/VotePanelContent.js
  apps/voting/app/src/components/VoteStatus.js
  apps/voting/app/src/components/VoteSummary.js
  apps/voting/app/src/components/VotingCard/VotingCard.js
  apps/voting/app/src/components/VotingCard/VotingCardGroup.js
  apps/voting/app/src/components/VotingCard/VotingOption.js
  apps/voting/app/src/components/VotingCard/VotingOptions.js
  apps/voting/app/src/math-utils.js
  apps/voting/app/src/screens/EmptyState.js
  apps/voting/app/src/screens/Votes.js
  apps/voting/app/src/utils.js
  apps/voting/app/src/vote-types.js
  apps/voting/app/src/vote-utils.js
  apps/voting/app/src/web3-utils.js
Labels: app: voting, component: frontend, epic: voting
