Repository aragon/aragon-apps, pull requests merged in 2019-03, with the labels that each got.

#699 Agent: fix copying an extra byte in popFirstByte
  apps/agent/contracts/SignatureValidator.sol
Labels: app: agent, component: contract, security

#686 Finance, Token Manager, Survey, Voting: fix function-visibility
  apps/finance/contracts/Finance.sol
  apps/survey/contracts/Survey.sol
  apps/token-manager/contracts/TokenManager.sol
  apps/voting/contracts/Voting.sol
Labels: app: finance, app: survey, app: token manager, app: voting, component: contract

#705 Survey: optimize voteOption()
  apps/survey/contracts/Survey.sol
Labels: app: survey, component: contract

#712 Token Manager: remove unused storage mapping
  apps/token-manager/contracts/TokenManager.sol
Labels: app: token manager, component: contract

#702 Finance, Token Manager, Voting: split utility getters into public and internal functions with different protection schemes
  apps/finance/contracts/Finance.sol
  apps/finance/test/finance.js
  apps/token-manager/contracts/TokenManager.sol
  apps/voting/contracts/Voting.sol
Labels: app: finance, app: token manager, app: voting, component: contract

#707 Finance: fix naming of status parameter in ChangePaymentState event
  apps/finance/contracts/Finance.sol
Labels: app: finance, component: contract

#696 Survey: default decimals to 0 if token contract doesn't specify them
  apps/survey/app/src/App.js
  apps/survey/app/src/math-utils.js
  apps/survey/app/src/script.js
Labels: app: survey, component: frontend

#695 Voting: default decimals to 0 if token contract doesn't specify them
  apps/voting/app/src/math-utils.js
  apps/voting/app/src/script.js
Labels: app: voting, component: frontend

#703 Token Manager: enforce all token controller methods to only be accessible via the managed token contract
  apps/token-manager/contracts/TokenManager.sol
  apps/token-manager/test/tokenmanager.js
Labels: app: token manager, component: contract

#706 Finance: optimize SafeMath
  apps/finance/contracts/Finance.sol
  apps/survey/contracts/Survey.sol
  apps/token-manager/contracts/TokenManager.sol
  apps/voting/contracts/Voting.sol
Labels: app: finance, app: token manager, app: voting, component: contract

#726 Finance, Token Manager, Vault: use address(this) for address arguments
  apps/finance/contracts/Finance.sol
  apps/token-manager/contracts/TokenManager.sol
  apps/vault/contracts/Vault.sol
Labels: app: finance, app: token manager, app: vault, component: contract

#725 Finance: _tryTransitionAccountPeriod should take uint64 argument
  apps/finance/contracts/Finance.sol
Labels: app: finance, component: contract

#610 [WIP] Payroll: remove terminated storage and change exist modifier for activeness check
  future-apps/payroll/contracts/Payroll.sol
Labels: needs tests, wip

#729 Payroll: Organize internal/external functions
  future-apps/payroll/contracts/Payroll.sol
  future-apps/payroll/package.json
Labels: app: payroll, component: contract

#737 Voting: mock time in tests rather than use timetravel
  apps/voting/contracts/test/mocks/VotingMock.sol
  apps/voting/test/voting.js
Labels: app: voting, component: contract

#710 Finance, Survey, Token Manager, Voting: Clarify internal protection scheme
  apps/finance/contracts/Finance.sol
  apps/finance/test/finance.js
  apps/survey/contracts/Survey.sol
  apps/voting/contracts/Voting.sol
Labels: app: finance, app: survey, app: token manager, app: voting, component: contract, security

#734 Token Manager: disallow minting and vesting tokens to itself
  apps/token-manager/contracts/TokenManager.sol
  apps/token-manager/test/tokenmanager.js
Labels: app: token manager, component: contract

#738 Token Manager: use TimeHelpers and mock time in tests
  apps/token-manager/contracts/TokenManager.sol
  apps/token-manager/contracts/test/mocks/TokenManagerMock.sol
  apps/token-manager/test/tokenmanager.js
Labels: app: token manager, component: contract

#711 Finance: consistent payment creation
  apps/finance/app/src/App.js
  apps/finance/arapp.json
  apps/finance/contracts/Finance.sol
  apps/finance/test/finance.js
Labels: app: finance, breaking-change, component: contract

#749 Finance: cosmetic clarifications for newImmediatePayment()
  apps/finance/contracts/Finance.sol
Labels: app: finance, component: contract

#735 Finance: rename RecurringPayments to ScheduledPayments
  apps/finance/contracts/Finance.sol
  apps/finance/test/finance.js
Labels: app: finance, component: contract

#739 Finance: rename maxRepeats to maxExecutions
  apps/finance/contracts/Finance.sol
  apps/finance/test/finance.js
Labels: app: finance, component: contract

#750 Finance: fix usage of timestamp mock in tests
  apps/finance/contracts/test/mocks/FinanceMock.sol
  apps/finance/test/finance.js
Labels: app: finance, component: contract

#751 Finance: reduce length of error string to under 32 chars
  apps/finance/contracts/Finance.sol
Labels: app: finance, component: contract

#752 Finance: fix usage of ERROR_NEW_PAYMENT_EXECS_ZERO
  apps/finance/contracts/Finance.sol
Labels: app: finance, component: contract
