Repository aragon/aragon-apps, pull requests merged in 2019-05, with the labels that each got.

#834 Payroll: suggestions from review
  future-apps/payroll/arapp.json
  future-apps/payroll/contracts/Payroll.sol
  future-apps/payroll/contracts/test/TestImports.sol
  future-apps/payroll/contracts/test/mocks/ExecutionTarget.sol
  future-apps/payroll/contracts/test/mocks/MaliciousEmployee.sol
  future-apps/payroll/test/contracts/Payroll_add_employee.test.js
  future-apps/payroll/test/contracts/Payroll_allowed_tokens.test.js
  future-apps/payroll/test/contracts/Payroll_bonuses.test.js
  future-apps/payroll/test/contracts/Payroll_forwarding.test.js
  future-apps/payroll/test/contracts/Payroll_gas_costs.test.js
  future-apps/payroll/test/contracts/Payroll_get_employee.test.js
  future-apps/payroll/test/contracts/Payroll_initialize.test.js
  future-apps/payroll/test/contracts/Payroll_modify_employee.test.js
  future-apps/payroll/test/contracts/Payroll_payday.test.js
  future-apps/payroll/test/contracts/Payroll_rates.test.js
  future-apps/payroll/test/contracts/Payroll_reentrancy.test.js
  future-apps/payroll/test/contracts/Payroll_reimbursements.test.js
  future-apps/payroll/test/contracts/Payroll_settings.test.js
  future-apps/payroll/test/contracts/Payroll_terminate_employee.test.js
  future-apps/payroll/test/contracts/Payroll_token_allocations.test.js
Labels: app: payroll, component: contract

#844 Finance: explicitly include core-js@2
  apps/finance/app/package.json
Labels: app: finance, component: frontend

#842 Payroll: remove unnecessary variable in internal method
  future-apps/payroll/contracts/Payroll.sol
Labels: app: payroll, component: contract

#853 Voting: use LocalIdentityBadge instead of base IdentityBadge
  apps/voting/app/src/components/VotePanel.js
  apps/voting/app/src/components/VoteText.js
  apps/voting/app/src/components/VotingCard/VotingCard.js
Labels: app: voting, component: frontend

#864 Tests: Enhance events assertions
  apps/agent/test/agent_shared.js
  apps/finance/test/finance.js
  apps/survey/test/survey.js
  apps/token-manager/test/tokenmanager.js
  apps/vault/test/vault_shared.js
  apps/voting/test/voting.js
  future-apps/payroll/test/contracts/Payroll_add_employee.test.js
  future-apps/payroll/test/contracts/Payroll_allowed_tokens.test.js
  future-apps/payroll/test/contracts/Payroll_bonuses.test.js
  future-apps/payroll/test/contracts/Payroll_forwarding.test.js
  future-apps/payroll/test/contracts/Payroll_get_employee.test.js
  future-apps/payroll/test/contracts/Payroll_modify_employee.test.js
  future-apps/payroll/test/contracts/Payroll_payday.test.js
  future-apps/payroll/test/contracts/Payroll_rates.test.js
  future-apps/payroll/test/contracts/Payroll_reimbursements.test.js
  future-apps/payroll/test/contracts/Payroll_settings.test.js
  future-apps/payroll/test/contracts/Payroll_terminate_employee.test.js
  future-apps/payroll/test/contracts/Payroll_token_allocations.test.js
  future-apps/payroll/test/helpers/deploy.js
  future-apps/payroll/test/helpers/events.js
  shared/test-helpers/assertEvent.js
  shared/test-helpers/events.js
Labels: enhancement

#871 Apps: update for @aragon/rpc-messenger's new deferred behaviour
  apps/finance/app/src/App.js
  apps/token-manager/app/src/App.js
  apps/voting/app/src/app-logic.js
Labels: component: frontend
