Repository aragon/aragon-apps, pull requests merged in 2019-11, with the labels that each got.

#1031 Tokens: fix the text overflow in the header
  apps/token-manager/app/src/App.js
Labels: app: token manager, component: frontend

#1029 Voting: app paths
  apps/voting/app/package.json
  apps/voting/app/src/App.js
  apps/voting/app/src/app-logic.js
Labels: app: voting, component: frontend

#1019 VoteCard: add animation to you voted info
  apps/voting/app/src/components/VoteCard/VoteCard.js
  apps/voting/app/src/components/VoteCard/VotedIndicator.js
Labels: app: voting, component: frontend

#1037 Agent: fix radspec for execute with value
  apps/agent/contracts/Agent.sol
Labels: app: agent, component: contract, component: frontend

#1044 Agent: update aragonUI to 1.0.0
  apps/agent/app/package.json
  apps/agent/app/src/components/TransfersFilters.js
Labels: app: agent, component: frontend

#1042 Tokens: update aragonUI to 1.0.0
  apps/token-manager/app/package.json
Labels: app: token manager, component: frontend

#1043 Finance: update aragonUI to 1.0.0
  apps/finance/app/package.json
  apps/finance/app/src/components/TransfersFilters.js
Labels: app: finance

#1041 Voting: update aragonUI to 1.0.0
  apps/voting/app/package.json
  apps/voting/app/src/app-logic.js
  apps/voting/app/src/components/NewVotePanel.js
  apps/voting/app/src/hooks/usePanelState.js
  apps/voting/app/src/screens/Votes.js
Labels: app: voting, component: frontend

#1034 Voting: animate card's voted indicator on focus / blur
  apps/voting/app/src/components/VoteCard/VoteCard.js
Labels: app: voting, component: frontend

#1045 Finance: polish for aragonUI 1.0
  apps/finance/app/src/components/Balances.js
  apps/finance/app/src/components/EmptyFilteredTransfers.js
  apps/finance/app/src/components/NewTransfer/Deposit.js
  apps/finance/app/src/components/ToggleContent.js
  apps/finance/app/src/components/Transfers.js
Labels: app: finance

#1048 Finance: MCD DAI migration
  apps/finance/app/src/components/BalanceToken.js
  apps/finance/app/src/components/Balances.js
  apps/finance/app/src/components/NewTransfer/Deposit.js
  apps/finance/app/src/components/NewTransfer/TokenSelector.js
  apps/finance/app/src/components/NewTransfer/TokenSelectorInstance.js
  apps/finance/app/src/lib/icon-utils.js
  apps/finance/app/src/lib/token-utils.js
  apps/finance/app/src/lib/verified-tokens.js
  apps/finance/app/src/script.js
  apps/token-manager/app/src/verified-tokens.js
Labels: app: finance, app: token manager, component: frontend

#1049 Finance: ask token directly for vault balance
  apps/finance/app/src/script.js
Labels: app: finance

#1051 Finance: app improvements
  apps/finance/app/src/components/NewTransfer/Withdrawal.js
  apps/finance/app/src/components/ToggleContent.js
  apps/finance/app/src/components/assets/arrow.svg
Labels: app: finance

#1052 Finance: fix loading some icons on test networks
  apps/finance/app/package.json
  apps/finance/app/src/lib/icon-utils.js
Labels: app: finance

#1046 Tokens: refactor the side panel as a function component
  apps/finance/app/src/lib/math-utils.js
  apps/token-manager/app/src/App.js
  apps/token-manager/app/src/components/Panels/TokenPanelContent.js
  apps/token-manager/app/src/components/UpdateTokenPanel/UpdateTokenPanel.js
  apps/token-manager/app/src/utils.js
Labels: app: finance, app: token manager, component: frontend
