Repository aragon/aragon-apps, pull requests merged in 2019-08, with the labels that each got.

#941 Merge Pool into Agent
  apps/agent/arapp.json
  apps/agent/contracts/Agent.sol
  apps/agent/contracts/test/mocks/TokenInteractionExecutionTarget.sol
  apps/agent/test/agent_shared.js
Labels: app: agent, component: contract

#946 Agent: use commit hashes in code reference links
  apps/agent/contracts/SignatureValidator.sol
Labels: app: agent, component: contract

#947 Apps: upgrade testrpc-sc based on solidity-coverage@0.6.4
  apps/agent/package.json
  apps/finance/package.json
  apps/survey/package.json
  apps/token-manager/package.json
  apps/vault/package.json
  apps/voting/package.json
  future-apps/payroll/package.json
Labels: app: agent, app: finance, app: survey, app: token manager, app: vault, app: voting

#918 Tokens: new style
  apps/token-manager/app/now.json
  apps/token-manager/app/package.json
  apps/token-manager/app/src/App.js
  apps/token-manager/app/src/components/AppLayout.js
  apps/token-manager/app/src/components/AssignTokensIcon.js
  apps/token-manager/app/src/components/AutoComplete/AutoComplete.js
  apps/token-manager/app/src/components/AutoComplete/AutoCompleteSelected.js
  apps/token-manager/app/src/components/AutoComplete/IconMagnifyingGlass.js
  apps/token-manager/app/src/components/HolderRow.js
  apps/token-manager/app/src/components/InfoBoxes.js
  apps/token-manager/app/src/components/LocalIdentitiesAutoComplete/LocalIdentitiesAutoComplete.js
  apps/token-manager/app/src/components/LocalIdentityBadge/LocalIdentityBadge.js
  apps/token-manager/app/src/components/MenuButton/MenuButton.js
  apps/token-manager/app/src/components/Panels/TokenPanelContent.js
  apps/token-manager/app/src/components/SideBar.js
  apps/token-manager/app/src/components/You.js
  apps/token-manager/app/src/hooks.js
  apps/token-manager/app/src/index.js
  apps/token-manager/app/src/screens/EmptyState.js
  apps/token-manager/app/src/screens/Holders.js
  apps/token-manager/app/src/verified-tokens.js
Labels: app: token manager, component: frontend

#929 Finance: refactor to new styles for 0.8
  apps/finance/app/index.html
  apps/finance/app/now.json
  apps/finance/app/package.json
  apps/finance/app/src/App.js
  apps/finance/app/src/components/AppLayout.js
  apps/finance/app/src/components/AutoComplete/AutoComplete.js
  apps/finance/app/src/components/AutoComplete/AutoCompleteSelected.js
  apps/finance/app/src/components/AutoComplete/IconMagnifyingGlass.js
  apps/finance/app/src/components/BalanceToken.js
  apps/finance/app/src/components/Balances.js
  apps/finance/app/src/components/DateRange/Calendar.js
  apps/finance/app/src/components/DateRange/DatePicker.js
  apps/finance/app/src/components/DateRange/DateRangeInput.js
  apps/finance/app/src/components/DateRange/TextInput.js
  apps/finance/app/src/components/DownloadButton.js
  apps/finance/app/src/components/EmptyFilteredTransfers.js
  apps/finance/app/src/components/EmptyTransactions.js
  apps/finance/app/src/components/LocalIdentitiesAutoComplete/LocalIdentitiesAutoComplete.js
  apps/finance/app/src/components/LocalIdentityBadge/LocalIdentityBadge.js
  apps/finance/app/src/components/MenuButton/MenuButton.js
  apps/finance/app/src/components/NewTransfer/Deposit.js
  apps/finance/app/src/components/NewTransfer/PanelContent.js
  apps/finance/app/src/components/NewTransfer/TokenBadge.js
  apps/finance/app/src/components/NewTransfer/TokenSelector.js
  apps/finance/app/src/components/NewTransfer/TokenSelectorInstance.js
  apps/finance/app/src/components/NewTransfer/Withdrawal.js
  apps/finance/app/src/components/NewTransferIcon.js
  apps/finance/app/src/components/ToggleFiltersButton.js
  apps/finance/app/src/components/TransferRow.js
  apps/finance/app/src/components/Transfers.js
  apps/finance/app/src/components/TransfersFilters.js
  apps/finance/app/src/components/assets/add-funds-icon.svg
  apps/finance/app/src/components/assets/no-results.svg
  apps/finance/app/src/components/assets/no-transfers.svg
  apps/finance/app/src/components/icons/IconLabel.js
  apps/finance/app/src/components/icons/IconTokens.js
  apps/finance/app/src/hooks.js
  apps/finance/app/src/index.js
  apps/finance/app/src/lib/verified-tokens.js
  apps/finance/app/src/lib/web3-utils.js
Labels: app: finance

#935 Voting new styles for 0.8
  apps/voting/app/now.json
  apps/voting/app/package.json
  apps/voting/app/src/App.js
  apps/voting/app/src/app-logic.js
  apps/voting/app/src/app-state-reducer.js
  apps/voting/app/src/assets/no-results.svg
  apps/voting/app/src/assets/no-votes.svg
  apps/voting/app/src/components/AppBadge.js
  apps/voting/app/src/components/AppLayout.js
  apps/voting/app/src/components/AutoLink.js
  apps/voting/app/src/components/EmptyFilteredVotes.js
  apps/voting/app/src/components/LocalIdentityBadge/LocalIdentityBadge.js
  apps/voting/app/src/components/MenuButton/MenuButton.js
  apps/voting/app/src/components/NewVoteIcon.js
  apps/voting/app/src/components/NewVotePanel.js
  apps/voting/app/src/components/ProgressBar.js
  apps/voting/app/src/components/SummaryBar.js
  apps/voting/app/src/components/SummaryRows.js
  apps/voting/app/src/components/VoteActions.js
  apps/voting/app/src/components/VoteCard/VoteCard.js
  apps/voting/app/src/components/VoteCard/VoteCardGroup.js
  apps/voting/app/src/components/VoteCard/VoteOption.js
  apps/voting/app/src/components/VoteCard/VoteOptions.js
  apps/voting/app/src/components/VoteCasted.js
  apps/voting/app/src/components/VotePanel.js
  apps/voting/app/src/components/VoteStatus.js
  apps/voting/app/src/components/VoteSuccess.js
  apps/voting/app/src/components/VoteSummary.js
  apps/voting/app/src/components/VoteText.js
  apps/voting/app/src/components/VotingCard/VotingCard.js
  apps/voting/app/src/components/VotingCard/VotingCardGroup.js
  apps/voting/app/src/components/VotingCard/VotingOption.js
  apps/voting/app/src/components/You.js
  apps/voting/app/src/hooks/useExtendedVoteData.js
  apps/voting/app/src/hooks/useFilterVotes.js
  apps/voting/app/src/hooks/useNow.js
  apps/voting/app/src/hooks/usePanelState.js
  apps/voting/app/src/hooks/usePromise.js
  apps/voting/app/src/hooks/useScrollTop.js
  apps/voting/app/src/hooks/useTokenContract.js
  apps/voting/app/src/hooks/useVotes.js
  apps/voting/app/src/math-utils.test.js
  apps/voting/app/src/screens/EmptyState.js
  apps/voting/app/src/screens/NoVotes.js
  apps/voting/app/src/screens/VoteDetail.js
  apps/voting/app/src/screens/Votes.js
  apps/voting/app/src/utils.js
  apps/voting/app/src/vote-hooks.js
  apps/voting/app/src/vote-types.js
  apps/voting/app/src/vote-utils.js
  apps/voting/app/src/web3-utils.js
Labels: app: voting, component: frontend

#951 Update app details to use headings
  apps/finance/app/public/meta/details.md
  apps/token-manager/app/public/meta/details.md
  apps/vault/public/meta/details.md
  apps/voting/app/public/meta/details.md
Labels: app: finance, app: token manager, app: vault, app: voting, component: frontend

#954 Updates for aragonUI
  apps/finance/app/package.json
  apps/finance/app/src/App.js
  apps/finance/app/src/components/EmptyFilteredTransfers.js
  apps/finance/app/src/components/Transfers.js
  apps/token-manager/app/package.json
  apps/token-manager/app/src/App.js
  apps/token-manager/app/src/components/IconLabel.js
  apps/token-manager/app/src/components/Panels/TokenPanelContent.js
  apps/voting/app/package.json
  apps/voting/app/src/components/AutoLink.js
  apps/voting/app/src/components/EmptyFilteredVotes.js
  apps/voting/app/src/components/VoteActions.js
  apps/voting/app/src/components/VoteCard/VoteCard.js
  apps/voting/app/src/components/VoteStatus.js
  apps/voting/app/src/components/VoteText.js
Labels: app: finance, app: token manager, app: voting, component: frontend
