Repository aragon/aragon-apps, pull requests merged in 2019-07, with the labels that each got.

#897 Payroll: Remove unused import
  future-apps/payroll/contracts/Payroll.sol
Labels: app: payroll

#898 Payroll: Move payroll example kit into `contracts/examples/` dir
  future-apps/payroll/.solcover.js
  future-apps/payroll/contracts/examples/PayrollKit.sol
Labels: app: payroll

#899 Payroll: Hardcode role constant values
  future-apps/payroll/contracts/Payroll.sol
  future-apps/payroll/test/contracts/Payroll_constants.test.js
Labels: app: payroll

#900 Payroll: Add owed salary getter function
  future-apps/payroll/contracts/Payroll.sol
  future-apps/payroll/test/contracts/Payroll_employee_info.test.js
  future-apps/payroll/test/contracts/Payroll_get_employee.test.js
Labels: app: payroll

#901 Payroll: Remove allowed tokens
  future-apps/payroll/README.md
  future-apps/payroll/app/src/store/employees.js
  future-apps/payroll/app/src/store/events.js
  future-apps/payroll/app/src/store/index.js
  future-apps/payroll/arapp.json
  future-apps/payroll/contracts/Payroll.sol
  future-apps/payroll/contracts/examples/PayrollKit.sol
  future-apps/payroll/test/contracts/Payroll_allowed_tokens.test.js
  future-apps/payroll/test/contracts/Payroll_bonuses.test.js
  future-apps/payroll/test/contracts/Payroll_constants.test.js
  future-apps/payroll/test/contracts/Payroll_employee_info.test.js
  future-apps/payroll/test/contracts/Payroll_gas_costs.test.js
  future-apps/payroll/test/contracts/Payroll_payday.test.js
  future-apps/payroll/test/contracts/Payroll_rates.test.js
  future-apps/payroll/test/contracts/Payroll_reentrancy.test.js
  future-apps/payroll/test/contracts/Payroll_reimbursements.test.js
  future-apps/payroll/test/contracts/Payroll_terminate_employee.test.js
  future-apps/payroll/test/contracts/Payroll_token_allocations.test.js
  future-apps/payroll/test/helpers/deploy.js
Labels: app: payroll

#902 Payroll: Use PPF rate precision
  future-apps/payroll/contracts/Payroll.sol
  future-apps/payroll/contracts/examples/PayrollKit.sol
  future-apps/payroll/contracts/test/mocks/PriceFeedMock.sol
  future-apps/payroll/package.json
  future-apps/payroll/test/contracts/Payroll_gas_costs.test.js
Labels: app: payroll

#912 Payroll: handle both cases of extra salary being sent to accrued balance
  future-apps/payroll/contracts/Payroll.sol
Labels: app: payroll, component: contract

#916 Payroll: optimize by passing employee around as storage pointer
  future-apps/payroll/contracts/Payroll.sol
Labels: app: payroll, component: contract

#909 Survey: remove unused constants
  apps/survey/contracts/Survey.sol
Labels: app: survey, component: contract

#910 Agent: remove unused error constants
  apps/agent/contracts/Agent.sol
Labels: app: agent, component: contract

#878 Added probot bots
  .github/auto_assign.yml
  .github/autolabeler.yml
  .github/config.yml
  .github/release-drafter.yml
  .github/stale.yml
Labels: enhancement

#922 Agent: Declare ens-name-hash dependency
  apps/agent/package.json
Labels: app: agent

#905 Add prepublish script before publishing to aragonPM
  apps/agent/package.json
  apps/finance/package.json
  apps/survey/package.json
  apps/token-manager/package.json
  apps/vault/package.json
  apps/voting/package.json
  future-apps/payroll/package.json
Labels: app: agent, app: finance, app: survey, app: token manager, app: vault, app: voting

#925 Coverage: Improve ignore files
  apps/agent/.solcover.js
  apps/finance/.solcover.js
  apps/survey/.solcover.js
  apps/token-manager/.solcover.js
  apps/voting/.solcover.js
  future-apps/payroll/.solcover.js
Labels: app: agent, app: finance, app: survey, app: token manager, app: voting

#921 chore: upgrade solidity-coverage to v0.6+
  .travis.yml
  apps/agent/package.json
  apps/finance/package.json
  apps/survey/.solcover.js
  apps/survey/contracts/test/TestImports.sol
  apps/survey/package.json
  apps/token-manager/package.json
  apps/token-manager/test/tokenmanager.js
  apps/vault/package.json
  apps/voting/contracts/test/TestImports.sol
  apps/voting/package.json
  apps/voting/test/voting.js
  future-apps/payroll/.solcover.js
  future-apps/payroll/package.json
  package.json
  shared/test-helpers/package.json
Labels: app: agent, app: finance, app: survey, app: token manager, app: vault, app: voting, component: contract

#926 Payroll: Fix accrued salary maths
  future-apps/payroll/contracts/Payroll.sol
  future-apps/payroll/test/contracts/Payroll_payday.test.js
Labels: component: contract

#881 Voting: Single delegation voting app
  apps/voting/arapp.json
  apps/voting/contracts/Voting.sol
  apps/voting/contracts/test/mocks/VotingMock.sol
  apps/voting/package.json
  apps/voting/scripts/vote-stats.js
  apps/voting/test/contracts/voting.js
  apps/voting/test/contracts/voting_delegation.js
  apps/voting/test/helpers/numbers.js
  apps/voting/test/helpers/state.js
  apps/voting/test/helpers/voting.js
Labels: app: agent, app: voting, component: contract

#886 Voting: Make early execution configurable
  apps/voting/arapp.json
  apps/voting/contracts/Voting.sol
  apps/voting/scripts/vote-stats.js
  apps/voting/test/contracts/voting.js
  apps/voting/test/contracts/voting_delegation.js
  apps/voting/test/helpers/voting.js
Labels: app: voting, component: contract

#915 Survey: Add sample survey kit
  apps/survey/.solcover.js
  apps/survey/contracts/examples/SurveyKit.sol
  apps/survey/package.json
  apps/survey/scripts/demo.js
  apps/survey/scripts/deploy-kit.js
  apps/survey/scripts/deploy.js
Labels: app: survey, component: contract

#933 Fix TokenManager radspec typo
  apps/token-manager/contracts/TokenManager.sol
Labels: app: token manager, component: contract

#934 Apps: add exponential backoff to eth_calls when they fail
  apps/finance/app/src/script.js
  apps/token-manager/app/src/script.js
  apps/voting/app/src/script.js
Labels: app: finance, app: token manager, app: voting, component: frontend

#932 Shared: Move numbers helpers to shared sub repo
  apps/voting/test/contracts/voting.js
  apps/voting/test/contracts/voting_delegation.js
  apps/voting/test/helpers/numbers.js
  apps/voting/test/helpers/voting.js
  future-apps/payroll/test/contracts/Payroll_add_employee.test.js
  future-apps/payroll/test/contracts/Payroll_allowed_tokens.test.js
  future-apps/payroll/test/contracts/Payroll_bonuses.test.js
  future-apps/payroll/test/contracts/Payroll_employee_info.test.js
  future-apps/payroll/test/contracts/Payroll_forwarding.test.js
  future-apps/payroll/test/contracts/Payroll_gas_costs.test.js
  future-apps/payroll/test/contracts/Payroll_modify_employee.test.js
  future-apps/payroll/test/contracts/Payroll_payday.test.js
  future-apps/payroll/test/contracts/Payroll_rates.test.js
  future-apps/payroll/test/contracts/Payroll_reentrancy.test.js
  future-apps/payroll/test/contracts/Payroll_reimbursements.test.js
  future-apps/payroll/test/contracts/Payroll_terminate_employee.test.js
  future-apps/payroll/test/contracts/Payroll_token_allocations.test.js
  future-apps/payroll/test/helpers/deploy.js
  future-apps/payroll/test/helpers/salary.js
  future-apps/payroll/test/helpers/tokens.js
  shared/test-helpers/numbers.js
Labels: app: payroll, app: voting, enhancement

#938 Finance: deploy preview to now
  apps/finance/app/now.json
  apps/finance/app/package.json
Labels: app: finance

#939 Voting: deploy preview to now
  apps/voting/app/now.json
  apps/voting/app/package.json
Labels: app: voting, component: frontend

#937 Token Manager: deploy preview to now
  apps/token-manager/app/now.json
  apps/token-manager/app/package.json
Labels: app: token manager, component: frontend

#936 Token Manager: fix linting
  apps/token-manager/app/src/App.js
  apps/token-manager/app/src/components/AutoComplete/AutoCompleteSelected.js
  apps/token-manager/app/src/components/HolderRow.js
  apps/token-manager/app/src/components/InfoBoxes.js
  apps/token-manager/app/src/hooks.js
  apps/token-manager/app/src/screens/Holders.js
Labels: app: token manager, component: frontend
