Repository aragon/aragon-apps, pull requests merged in 2019-10, with the labels that each got.

#1016 Holders: set max width on smaller screens
  apps/token-manager/app/src/screens/Holders.js
Labels: app: token manager, component: frontend

#1020 Voting: do not display the sync indicator with the empty state
  apps/voting/app/src/App.js
Labels: app: voting, component: frontend

#1021 Voting: fix a description overflow issue
  apps/voting/app/src/components/AutoLink.js
  apps/voting/app/src/components/VoteCard/VoteCard.js
  apps/voting/app/src/components/VoteText.js
  apps/voting/app/src/screens/VoteDetail.js
Labels: app: voting, component: frontend

#1025 Voting: specify which newVote() override to use
  apps/voting/app/src/App.js
  apps/voting/app/src/app-logic.js
Labels: app: voting, component: frontend

#1012 Voting: fix a crash that was happening in certain cases
  apps/voting/app/src/components/VoteCard/VoteCard.js
  apps/voting/app/src/hooks/useVotes.js
  apps/voting/app/src/screens/VoteDetail.js
Labels: app: voting, component: frontend

#1026 Finance, Tokens, Voting: guard accesses to network.type
  apps/finance/app/src/components/Transfers.js
  apps/token-manager/app/src/components/InfoBoxes.js
  apps/voting/app/src/screens/VoteDetail.js
Labels: app: finance, app: token manager, app: voting, component: frontend

#1027 TokenManager: fix initialize()'s radspec for transferability
  apps/token-manager/contracts/TokenManager.sol
Labels: app: token manager, component: contract
