Repository aragon/aragon-apps, pull requests merged in 2019-09, with the labels that each got.

#955 Optimize icons
  apps/finance/app/src/components/EmptyFilteredTransfers.js
  apps/finance/app/src/components/EmptyTransactions.js
  apps/finance/app/src/components/assets/no-results.png
  apps/finance/app/src/components/assets/no-results.svg
  apps/finance/app/src/components/assets/no-transfers.png
  apps/finance/app/src/components/assets/no-transfers.svg
  apps/voting/app/src/assets/empty-card-icon.svg
  apps/voting/app/src/assets/no-results.png
  apps/voting/app/src/assets/no-results.svg
  apps/voting/app/src/assets/no-votes.png
  apps/voting/app/src/assets/no-votes.svg
  apps/voting/app/src/components/EmptyFilteredVotes.js
  apps/voting/app/src/screens/NoVotes.js
Labels: app: finance, app: voting, component: frontend

#959 Finance: detect proxy deposits to Vault
  apps/finance/app/src/abi/vault-events.json
Labels: app: finance

#953 Finance: update background script
  apps/finance/app/package.json
  apps/finance/app/src/lib/token-utils.js
  apps/finance/app/src/script.js
Labels: app: finance

#961 Voting: don't query vote status when there's no connected account
  apps/voting/app/src/script.js
Labels: app: voting, component: frontend

#960 Voting: add details about user's current balance if different than at vote snapshot
  apps/voting/app/src/components/VoteActions.js
  apps/voting/app/src/hooks/useExtendedVoteData.js
  apps/voting/app/src/hooks/usePanelState.js
  apps/voting/app/src/hooks/useTokenContract.js
  apps/voting/app/src/screens/VoteDetail.js
  apps/voting/app/src/token-utils.js
  apps/voting/app/src/vote-utils.js
Labels: app: voting, component: frontend

#962 Voting: add enacted state
  apps/voting/app/src/app-state-reducer.js
  apps/voting/app/src/screens/VoteDetail.js
  apps/voting/app/src/script.js
Labels: app: agent, app: finance, app: voting, component: frontend

#963 Chore: Publish test-helpers 2.1.0
  apps/agent/package.json
  apps/finance/package.json
  apps/survey/package.json
  apps/token-manager/package.json
  apps/vault/package.json
  apps/voting/package.json
  future-apps/payroll/package.json
  shared/minime/package.json
  shared/test-helpers/package.json
Labels: app: agent, app: finance, app: survey, app: token manager, app: vault, app: voting

#970 chore: fix gitignore
  .gitignore
  apps/voting/app/src/abi/token-balanceOf.json
Labels: app: voting, component: frontend

#968 Agent: v2.0.0
  apps/agent/package.json
Labels: app: agent

#969 Payroll: v1.0.0
  future-apps/payroll/package.json
Labels: app: payroll

#971 Finance, Tokens, Voting: update badges
  apps/finance/app/src/components/LocalIdentityBadge/LocalIdentityBadge.js
  apps/finance/app/src/components/NewTransfer/Deposit.js
  apps/finance/app/src/components/Transfers.js
  apps/finance/app/src/lib/web3-utils.js
  apps/token-manager/app/src/App.js
  apps/token-manager/app/src/components/InfoBoxes.js
  apps/token-manager/app/src/components/LocalIdentityBadge/LocalIdentityBadge.js
  apps/token-manager/app/src/screens/Holders.js
  apps/voting/app/src/components/LocalIdentityBadge/LocalIdentityBadge.js
  apps/voting/app/src/screens/VoteDetail.js
Labels: app: finance, app: token manager, app: voting, component: frontend

#967 Voting: add apps filter
  apps/voting/app/src/App.js
  apps/voting/app/src/app-logic.js
  apps/voting/app/src/hooks/useFilterVotes.js
  apps/voting/app/src/hooks/useVotes.js
  apps/voting/app/src/screens/Votes.js
  apps/voting/app/src/script.js
  apps/voting/app/src/web3-utils.js
Labels: app: voting, component: frontend

#972 Finance, Tokens, Voting: design review
  apps/finance/app/package.json
  apps/finance/app/src/components/BalanceToken.js
  apps/finance/app/src/components/Balances.js
  apps/finance/app/src/components/LocalIdentityBadge/LocalIdentityBadge.js
  apps/finance/app/src/components/NewTransfer/TokenSelector.js
  apps/finance/app/src/components/NewTransfer/Withdrawal.js
  apps/finance/app/src/components/TransfersFilters.js
  apps/finance/app/src/script.js
  apps/token-manager/app/package.json
  apps/token-manager/app/src/App.js
  apps/token-manager/app/src/components/LocalIdentityBadge/LocalIdentityBadge.js
  apps/token-manager/app/src/components/Panels/TokenPanelContent.js
  apps/voting/app/package.json
  apps/voting/app/src/components/LocalIdentityBadge/LocalIdentityBadge.js
  apps/voting/app/src/components/NewVotePanel.js
  apps/voting/app/src/components/SummaryBar.js
  apps/voting/app/src/components/VoteCard/VoteOption.js
  apps/voting/app/src/screens/VoteDetail.js
  apps/voting/app/src/screens/Votes.js
Labels: app: finance, app: token manager, app: voting, component: frontend

#974 Finance, Tokens, Voting: bump @aragon dependencies
  apps/finance/app/package.json
  apps/token-manager/app/package.json
  apps/voting/app/package.json
Labels: app: finance, app: token manager, app: voting, component: frontend

#958 Finance: use api-react's currentApp for app proxy address
  apps/finance/app/src/App.js
  apps/finance/app/src/components/NewTransfer/Deposit.js
  apps/finance/app/src/components/NewTransfer/PanelContent.js
  apps/finance/app/src/components/Transfers.js
  apps/finance/app/src/script.js
Labels: app: finance

#976 Voting: fix typo
  apps/voting/app/src/components/VoteCasted.js
Labels: app: voting, component: frontend

#978 Finance: increase gas estimate for deposits
  apps/finance/app/src/App.js
Labels: app: finance

#979 Voting: app badge fixes
  apps/voting/app/src/components/LocalIdentityBadge/LocalLabelAppBadge.js
Labels: app: voting, component: frontend

#977 [WIP] Update app screenshots to 0.8
  apps/finance/app/public/meta/screenshot-1.png
  apps/finance/app/public/meta/screenshot-2.png
  apps/finance/app/public/meta/screenshot-3.png
  apps/token-manager/app/public/meta/screenshot-1.png
  apps/token-manager/app/public/meta/screenshot-2.png
  apps/token-manager/app/public/meta/screenshot-3.png
  apps/voting/app/public/meta/screenshot-1.png
  apps/voting/app/public/meta/screenshot-2.png
  apps/voting/app/public/meta/screenshot-3.png
Labels: app: finance, app: token manager, app: voting, component: frontend

#980 Finance: add toast for exporting transactions
  apps/finance/app/src/components/Transfers.js
Labels: app: finance

#981 Agent: remove experimental status from arapp file
  apps/agent/arapp.json
Labels: app: agent

#943 Agent app
  apps/agent/app/.babelrc
  apps/agent/app/.eslintrc
  apps/agent/app/.gitignore
  apps/agent/app/.prettierrc
  apps/agent/app/README.md
  apps/agent/app/index.html
  apps/agent/app/package.json
  apps/agent/app/public/meta/details.md
  apps/agent/app/public/meta/icon.svg
  apps/agent/app/public/meta/screenshot-1.png
  apps/agent/app/public/meta/screenshot-2.png
  apps/agent/app/public/meta/screenshot-3.png
  apps/agent/app/src/App.js
  apps/agent/app/src/abi/token-balanceof.json
  apps/agent/app/src/abi/token-decimals.json
  apps/agent/app/src/abi/token-name-bytes.json
  apps/agent/app/src/abi/token-name.json
  apps/agent/app/src/abi/token-symbol-bytes.json
  apps/agent/app/src/abi/token-symbol.json
  apps/agent/app/src/abi/token-transfer-event.json
  apps/agent/app/src/app-state-reducer.js
  apps/agent/app/src/components/AgentSvg.js
  apps/agent/app/src/components/BalanceToken.js
  apps/agent/app/src/components/Balances.js
  apps/agent/app/src/components/ComingSoon.js
  apps/agent/app/src/components/DownloadButton.js
  apps/agent/app/src/components/EmptyFilteredTransfers.js
  apps/agent/app/src/components/FrameAndAgentSvg.js
  apps/agent/app/src/components/FrameModal.js
  apps/agent/app/src/components/FrameSvg.js
  apps/agent/app/src/components/IconDownload.js
  apps/agent/app/src/components/IdentityManager/IdentityManager.js
  apps/agent/app/src/components/InstallFrame.js
  apps/agent/app/src/components/LocalIdentityBadge/LocalIdentityBadge.js
  apps/agent/app/src/components/ToggleContent.js
  apps/agent/app/src/components/ToggleFiltersButton.js
  apps/agent/app/src/components/Transfers.js
  apps/agent/app/src/components/TransfersFilters.js
  apps/agent/app/src/components/assets/agent.svg
  apps/agent/app/src/components/assets/arrow.svg
  apps/agent/app/src/components/assets/frame.svg
  apps/agent/app/src/components/assets/no-results.svg
  apps/agent/app/src/components/icons/IconLabel.js
  apps/agent/app/src/components/icons/IconTokens.js
  apps/agent/app/src/components/useDownloadData.js
  apps/agent/app/src/components/useFilteredTransfers.js
  apps/agent/app/src/index.js
  apps/agent/app/src/lib/math-utils.js
  apps/agent/app/src/lib/token-utils.js
  apps/agent/app/src/lib/utils.js
  apps/agent/app/src/lib/verified-tokens.js
  apps/agent/app/src/lib/web3-utils.js
  apps/agent/app/src/script.js
  apps/agent/app/src/testnet.js
  apps/agent/app/src/transfer-types.js
  apps/agent/manifest.json
  apps/agent/package.json
Labels: app: agent, component: frontend

#983 Voting copy fix
  apps/voting/app/src/components/VoteActions.js
Labels: app: voting, component: frontend

#984 Voting copy fix
  apps/voting/app/src/components/VoteActions.js
Labels: app: voting, component: frontend

#985 Latest icons
  apps/agent/app/public/meta/icon.svg
  apps/finance/app/public/meta/icon.svg
  apps/survey/app/public/meta/icon.svg
  apps/token-manager/app/public/meta/icon.svg
  apps/vault/public/meta/icon.svg
  apps/voting/app/public/meta/icon.svg
Labels: app: agent, app: finance, app: survey, app: token manager, app: vault, app: voting, component: frontend

#986 Agent: install frontend on bootstrap
  apps/agent/package.json
Labels: app: agent

#987 Vote: add rules to wrap links in container
  apps/voting/app/src/components/VoteText.js
Labels: app: voting, component: frontend

#988 Finance: update mainnet warning copy
  apps/finance/app/src/components/NewTransfer/Deposit.js
Labels: app: finance

#989 Update agent link
  apps/agent/app/src/components/FrameModal.js
Labels: app: agent, component: frontend

#990 Voting: fix vote details being confused about quorum and support
  apps/voting/app/src/screens/VoteDetail.js
Labels: app: voting, component: frontend

#991 chore: fix lint
  apps/finance/app/src/components/BalanceToken.js
  apps/finance/app/src/components/LocalIdentityBadge/LocalIdentityBadge.js
  apps/finance/app/src/components/Transfers.js
  apps/voting/app/src/components/VoteActions.js
  apps/voting/app/src/components/VoteText.js
Labels: app: finance, app: voting, component: frontend

#992 Agent: fix coming soon URL
  apps/agent/app/src/components/ComingSoon.js
Labels: app: agent, component: frontend

#996 Fixes voting status progress being backwards
  apps/voting/app/src/screens/VoteDetail.js
Labels: app: voting, component: frontend

#993 Change Tokens app copy
  apps/token-manager/app/src/components/Panels/TokenPanelContent.js
Labels: app: token manager, component: frontend

#995 Memoize DataView deps
  apps/agent/app/src/components/Transfers.js
  apps/finance/app/src/components/Transfers.js
  apps/token-manager/app/src/screens/Holders.js
Labels: app: agent, app: finance, app: token manager, component: frontend

#999 Voting: support external apps as target
  apps/voting/app/src/hooks/useVotes.js
Labels: app: voting, component: frontend

#1006 Voting: tolerate undefined executionTargets
  apps/voting/app/src/hooks/useVotes.js
Labels: app: voting, component: frontend
