Repository aragon/aragon-apps, pull requests merged in 2019-02, with the labels that each got.

#625 Agent: Allow execute to send Eth
  future-apps/actor/contracts/Actor.sol
Labels: app: agent

#651 Agent: parameterize execution tests for ETH deposit amount
  future-apps/agent/contracts/Agent.sol
  future-apps/agent/contracts/test/mocks/DestinationMock.sol
  future-apps/agent/test/agent.js
  future-apps/agent/test/vault.js
Labels: app: agent, component: contract

#657 Payroll: Add hard cap for allowed tokens, to avoid OOG attacks
  future-apps/payroll/contracts/Payroll.sol
  future-apps/payroll/contracts/test/mocks/EtherTokenConstantMock.sol
  future-apps/payroll/contracts/test/mocks/PayrollMock.sol
  future-apps/payroll/package-lock.json
  future-apps/payroll/test/payroll_allowed_tokens.js
Labels: app: payroll, bug, component: contract, security

#676 Survey: emit current option power on ResetVote events instead of previous option powers
  apps/survey/app/src/script.js
  apps/survey/contracts/Survey.sol
Labels: app: survey

#675 Survey: add old participation percent as part of MODIFY_PARTICIPATION_ROLE's params
  apps/survey/arapp.json
  apps/survey/contracts/Survey.sol
Labels: app: survey

#681 Survey: small variable reuse optimization in getVoterState()
  apps/survey/contracts/Survey.sol
Labels: app: survey

#680 Survey: fix named returns from getSurvey()
  apps/survey/contracts/Survey.sol
Labels: app: survey

#677 Survey: modernize
  apps/survey/app/.eslintrc
  apps/survey/app/README.md
  apps/survey/app/index.html
  apps/survey/app/package.json
  apps/survey/app/src/App.js
  apps/survey/app/src/components/AppBar/AppBar.js
  apps/survey/app/src/components/Creator/Creator.js
  apps/survey/app/src/components/MenuButton/IconMenu.js
  apps/survey/app/src/components/MenuButton/MenuButton.js
  apps/survey/app/src/components/NewSurveyPanel/NewSurveyPanel.js
  apps/survey/app/src/components/Survey/Survey.js
  apps/survey/app/src/components/Survey/SurveyDetails.js
  apps/survey/app/src/components/Survey/VotesHistory.js
  apps/survey/app/src/components/SurveyCard/SurveyCard.js
  apps/survey/app/src/components/SurveyOptions/SurveyOptions.js
  apps/survey/app/src/components/VotingPanel/VotingPanel.js
  apps/survey/app/src/index.js
  apps/survey/app/src/math-utils.js
  apps/survey/app/src/math-utils.test.js
  apps/survey/app/src/script.js
  apps/survey/package.json
Labels: app: survey, component: frontend

#678 Voting: remove react-blockies
  apps/voting/app/package.json
  apps/voting/app/src/components/VotePanelContent.js
Labels: app: voting, component: frontend

#662 (Token Manager) more descriptive empty card state for token manager
  apps/token-manager/app/src/screens/EmptyState.js
Labels: design: request

#659 (Voting) more descriptive empty state card
  apps/voting/app/src/screens/EmptyState.js
Labels: design: request

#663 (Finance) more descriptive empty state card
  apps/finance/app/src/App.js
Labels: design: request

#682 Survey: PR comments
  apps/survey/app/src/App.js
  apps/survey/app/src/components/VotingPanel/VotingPanel.js
  apps/survey/app/src/provide-network.js
  apps/survey/app/src/utils.js
Labels: app: survey, component: frontend

#684 Survey: avoid shadowing minParticipationPct in getSurvey()
  apps/survey/app/src/script.js
  apps/survey/contracts/Survey.sol
Labels: app: survey

#687 Survey: change PCT_BASE to uint64
  apps/survey/contracts/Survey.sol
Labels: app: survey

#688 Agent: fix execute signature ACL param
  apps/agent/contracts/Agent.sol
  apps/agent/test/agent.js
Labels: app: agent, bug, component: contract, needs tests

#690 Agent: isValidSignature short-circuit if designated signer not set
  apps/agent/contracts/Agent.sol
  apps/agent/test/agent.js
Labels: app: agent, component: contract, security

#693 Finance: remove react-motion dependency
  apps/finance/app/package.json
Labels: app: finance
