Repository aragon/aragon-apps, pull requests merged in 2019-04, with the labels that each got.

#736 Payroll: Avoid payout overflow
  future-apps/payroll/contracts/Payroll.sol
  future-apps/payroll/contracts/test/mocks/PayrollMock.sol
  future-apps/payroll/test/payroll_accrued_value.js
  shared/test-helpers/assertThrow.js
Labels: app: payroll, component: contract

#766 Payroll: Improve timestamps mocking
  future-apps/payroll/contracts/test/mocks/PayrollMock.sol
  future-apps/payroll/contracts/test/mocks/PriceFeedMock.sol
  future-apps/payroll/test/contracts/Payroll_forwarding.test.js
  future-apps/payroll/test/contracts/Payroll_modify_employee.test.js
  future-apps/payroll/test/contracts/Payroll_payday.test.js
  future-apps/payroll/test/contracts/Payroll_reimbursements.test.js
  future-apps/payroll/test/contracts/Payroll_terminate_employee.test.js
  future-apps/payroll/test/contracts/Payroll_token_allocations.test.js
  shared/test-helpers/contracts/TimeHelpersMock.sol
Labels: app: payroll, component: contract

#770 Token Manager: small improvements for ITokenController interface
  apps/token-manager/contracts/TokenManager.sol
Labels: app: token manager, component: contract, pending-security-review

#781 Finance: use constant for minimum period
  apps/finance/contracts/Finance.sol
Labels: app: finance, component: contract, pending-security-review

#771 Token Manager: remove unused imports
  apps/token-manager/contracts/TokenManager.sol
Labels: app: token manager, component: contract, pending-security-review

#772 Finance: rename MAX_UINT to MAX_UINT256
  apps/finance/contracts/Finance.sol
Labels: app: finance, component: contract, pending-security-review

#777 Finance: fix balances not displaying verified token logos
  apps/finance/app/src/components/Balances.js
Labels: app: finance, component: frontend

#741 Finance: test revert strings
  apps/agent/test/agent.js
  apps/finance/test/finance.js
  apps/survey/test/survey.js
  apps/vault/test/vault_shared.js
  future-apps/payroll/contracts/Payroll.sol
  shared/test-helpers/assertThrow.js
  shared/test-helpers/utils.js
Labels: app: finance, component: contract

#791 Finance, Token Manager: fix panels
  apps/finance/app/src/components/NewTransfer/Deposit.js
  apps/finance/app/src/components/NewTransfer/PanelContent.js
  apps/finance/app/src/components/NewTransfer/Withdrawal.js
  apps/token-manager/app/src/components/Panels/AssignVotePanelContent.js
Labels: app: finance, app: token manager, component: frontend

#790 Finance: fix deposit gas calculations
  apps/finance/app/src/App.js
Labels: app: finance, component: frontend

#774 Payroll: Implement accrued salary
  future-apps/payroll/contracts/Payroll.sol
  future-apps/payroll/test/contracts/Payroll_add_employee.test.js
  future-apps/payroll/test/contracts/Payroll_get_employee.test.js
  future-apps/payroll/test/contracts/Payroll_modify_employee.test.js
  future-apps/payroll/test/contracts/Payroll_payday.test.js
  future-apps/payroll/test/contracts/Payroll_reimbursements.test.js
  future-apps/payroll/test/contracts/Payroll_terminate_employee.test.js
Labels: app: payroll, component: contract

#776 Payroll: Ceil last payroll date calculation
  future-apps/payroll/arapp.json
  future-apps/payroll/contracts/Payroll.sol
  future-apps/payroll/contracts/PayrollKit.sol
  future-apps/payroll/contracts/test/mocks/PayrollMock.sol
  future-apps/payroll/test/contracts/Payroll_add_employee.test.js
  future-apps/payroll/test/contracts/Payroll_allowed_tokens.test.js
  future-apps/payroll/test/contracts/Payroll_bonuses.test.js
  future-apps/payroll/test/contracts/Payroll_gas_costs.test.js
  future-apps/payroll/test/contracts/Payroll_get_employee.test.js
  future-apps/payroll/test/contracts/Payroll_modify_employee.test.js
  future-apps/payroll/test/contracts/Payroll_payday.test.js
  future-apps/payroll/test/contracts/Payroll_reimbursements.test.js
  future-apps/payroll/test/contracts/Payroll_terminate_employee.test.js
  future-apps/payroll/test/helpers/payment_types.js
  future-apps/payroll/test/helpers/setup.js
Labels: app: payroll, component: contract

#785 feat: update publishing scripts
  apps/agent/package.json
  apps/agent/scripts/deploy.js
  apps/finance/app/package.json
  apps/finance/package.json
  apps/finance/scripts/deploy.js
  apps/survey/app/package.json
  apps/survey/package.json
  apps/survey/scripts/deploy.js
  apps/token-manager/package.json
  apps/token-manager/scripts/deploy.js
  apps/vault/package.json
  apps/vault/scripts/deploy.js
  apps/voting/app/package.json
  apps/voting/package.json
Labels: tech debt

#800 Agent: allow tests to be shared
  apps/agent/test/agent.js
  apps/agent/test/agent_shared.js
Labels: app: agent

#805 Copy improvements
  apps/finance/app/src/App.js
  apps/finance/app/src/components/Balances.js
  apps/finance/app/src/components/NewTransfer/Deposit.js
  apps/finance/app/src/components/NewTransfer/Withdrawal.js
  apps/token-manager/app/src/components/HolderRow.js
  apps/token-manager/app/src/screens/EmptyState.js
  apps/voting/app/src/components/NewVotePanelContent.js
  apps/voting/app/src/components/VoteStatus.js
  apps/voting/app/src/screens/EmptyState.js
Labels: component: frontend

#798 Payroll: Fix accrued salary calculation
  future-apps/payroll/contracts/Payroll.sol
  future-apps/payroll/package.json
  future-apps/payroll/test/contracts/Payroll_modify_employee.test.js
Labels: app: payroll, bug, component: contract

#797 Payroll: Fix exchange rates request call
  future-apps/payroll/contracts/Payroll.sol
  future-apps/payroll/contracts/test/mocks/PriceFeedMock.sol
  future-apps/payroll/package.json
  future-apps/payroll/test/contracts/Payroll_add_employee.test.js
  future-apps/payroll/test/contracts/Payroll_allowed_tokens.test.js
  future-apps/payroll/test/contracts/Payroll_bonuses.test.js
  future-apps/payroll/test/contracts/Payroll_forwarding.test.js
  future-apps/payroll/test/contracts/Payroll_gas_costs.test.js
  future-apps/payroll/test/contracts/Payroll_get_employee.test.js
  future-apps/payroll/test/contracts/Payroll_initialize.test.js
  future-apps/payroll/test/contracts/Payroll_modify_employee.test.js
  future-apps/payroll/test/contracts/Payroll_payday.test.js
  future-apps/payroll/test/contracts/Payroll_reimbursements.test.js
  future-apps/payroll/test/contracts/Payroll_settings.test.js
  future-apps/payroll/test/contracts/Payroll_terminate_employee.test.js
  future-apps/payroll/test/contracts/Payroll_token_allocations.test.js
  future-apps/payroll/test/helpers/deploy.js
  future-apps/payroll/test/helpers/set_token_rates.js
  shared/test-helpers/assertThrow.js
Labels: app: payroll, bug, component: contract

#795 Copy improvements
  apps/voting/app/src/components/VoteSuccess.js
  apps/voting/app/src/components/VoteSummary.js
Labels: enhancement

#778 Payroll: Add reentrancy guard to payment transfers
  future-apps/payroll/README.md
  future-apps/payroll/contracts/Payroll.sol
  future-apps/payroll/contracts/test/mocks/MaliciousEmployee.sol
  future-apps/payroll/package.json
  future-apps/payroll/test/contracts/Payroll_add_employee.test.js
  future-apps/payroll/test/contracts/Payroll_bonuses.test.js
  future-apps/payroll/test/contracts/Payroll_forwarding.test.js
  future-apps/payroll/test/contracts/Payroll_gas_costs.test.js
  future-apps/payroll/test/contracts/Payroll_get_employee.test.js
  future-apps/payroll/test/contracts/Payroll_modify_employee.test.js
  future-apps/payroll/test/contracts/Payroll_payday.test.js
  future-apps/payroll/test/contracts/Payroll_reentrancy.test.js
  future-apps/payroll/test/contracts/Payroll_reimbursements.test.js
  future-apps/payroll/test/contracts/Payroll_terminate_employee.test.js
  future-apps/payroll/test/contracts/Payroll_token_allocations.test.js
Labels: app: payroll, component: contract, security

#813 Finance: fix token fallbacks and error handling
  apps/finance/app/src/components/NewTransfer/Deposit.js
  apps/finance/app/src/lib/token-utils.js
  apps/finance/app/src/script.js
Labels: app: finance, component: frontend

#818 Finance: fix double border on balance
  apps/finance/app/src/components/Balances.js
Labels: app: finance, component: frontend

#822 feat(Payroll): small SLOAD optimizations to _transferTokensAmount()
  future-apps/payroll/contracts/Payroll.sol
Labels: app: payroll, component: contract

#824 Voting: sort same end-time votes by their descending voteIds
  apps/voting/app/src/screens/Votes.js
Labels: app: voting, component: frontend

#821 Payroll: revert to old way of obtaining exchange rate and add more clarity
  future-apps/payroll/contracts/Payroll.sol
  future-apps/payroll/test/contracts/Payroll_bonuses.test.js
  future-apps/payroll/test/contracts/Payroll_payday.test.js
  future-apps/payroll/test/contracts/Payroll_reimbursements.test.js
  future-apps/payroll/test/contracts/Payroll_terminate_employee.test.js
  future-apps/payroll/test/helpers/tokens.js
Labels: app: payroll, component: contract

#823 Payroll: clarify how rates are handled and add unit tests
  future-apps/payroll/contracts/Payroll.sol
  future-apps/payroll/test/contracts/Payroll_add_employee.test.js
  future-apps/payroll/test/contracts/Payroll_allowed_tokens.test.js
  future-apps/payroll/test/contracts/Payroll_bonuses.test.js
  future-apps/payroll/test/contracts/Payroll_forwarding.test.js
  future-apps/payroll/test/contracts/Payroll_gas_costs.test.js
  future-apps/payroll/test/contracts/Payroll_get_employee.test.js
  future-apps/payroll/test/contracts/Payroll_initialize.test.js
  future-apps/payroll/test/contracts/Payroll_modify_employee.test.js
  future-apps/payroll/test/contracts/Payroll_payday.test.js
  future-apps/payroll/test/contracts/Payroll_rates.test.js
  future-apps/payroll/test/contracts/Payroll_reentrancy.test.js
  future-apps/payroll/test/contracts/Payroll_reimbursements.test.js
  future-apps/payroll/test/contracts/Payroll_settings.test.js
  future-apps/payroll/test/contracts/Payroll_terminate_employee.test.js
  future-apps/payroll/test/contracts/Payroll_token_allocations.test.js
  future-apps/payroll/test/helpers/deploy.js
  future-apps/payroll/test/helpers/numbers.js
  future-apps/payroll/test/helpers/set_token_rates.js
  future-apps/payroll/test/helpers/time.js
  future-apps/payroll/test/helpers/tokens.js
Labels: app: payroll, component: contract

#830 feat(Payroll): include exchange rate used in SendPayment event
  future-apps/payroll/contracts/Payroll.sol
  future-apps/payroll/test/contracts/Payroll_bonuses.test.js
  future-apps/payroll/test/contracts/Payroll_payday.test.js
  future-apps/payroll/test/contracts/Payroll_rates.test.js
  future-apps/payroll/test/contracts/Payroll_reimbursements.test.js
  future-apps/payroll/test/helpers/tokens.js
Labels: app: payroll, component: contract
