Repository aragon/aragon-apps, pull requests merged in 2020-08, with the labels that each got.

#1241 DisputableVoting: Update voting publish scripts
  .travis.yml
  apps/agreement/contracts/Agreement.sol
  apps/agreement/package.json
  apps/agreement/test/agreement/agreement_challenge.js
  apps/agreement/test/agreement/agreement_dispute.js
  apps/agreement/test/agreement/agreement_gas_cost.js
  apps/agreement/test/agreement/agreement_integration.js
  apps/agreement/test/agreement/agreement_permissions.js
  apps/agreement/test/agreement/agreement_rule.js
  apps/agreement/test/agreement/agreement_settlement.js
  apps/agreement/test/helpers/wrappers/agreement.js
  apps/voting-disputable/package.json
  apps/voting-disputable/public/meta/details.md
  apps/voting-disputable/public/meta/icon.svg
  apps/voting-disputable/public/meta/screenshot-1.png
  apps/voting-disputable/public/meta/screenshot-2.png
  apps/voting-disputable/public/meta/screenshot-3.png
  yarn.lock
Labels: component: contract

#1242 Disputable voting app: Fix cancelled label
  apps/voting-disputable/app/src/components/DisputableStatusLabel.js
Labels: component: contract

#1243 Agreement: Rollback ACL v2 related changes
  apps/agreement/contracts/Agreement.sol
  apps/agreement/contracts/example/RegistryApp.sol
  apps/agreement/contracts/test/mocks/disputable/DisputableAppMock.sol
  apps/agreement/contracts/test/mocks/helpers/TokenBalanceOracle.sol
  apps/agreement/package.json
  apps/agreement/test/agreement/agreement_gas_cost.js
  apps/agreement/test/agreement/agreement_signing.js
  apps/agreement/test/helpers/wrappers/agreement.js
  yarn.lock
Labels: component: contract

#1244 DisputableVoting: Rollback ACL v2 related changes
  apps/voting-disputable/contracts/DisputableVoting.sol
  apps/voting-disputable/package.json
  apps/voting-disputable/test/contracts/voting_create.js
  apps/voting-disputable/test/contracts/voting_disputable.js
  apps/voting-disputable/test/contracts/voting_gas_costs.js
  apps/voting-disputable/test/helpers/deployer.js
Labels: component: contract

#1245 Agent: Move to buidler
  apps/agent/app/package.json
  apps/agent/arapp.json
  apps/agent/buidler.config.js
  apps/agent/contracts/test/TestImports.sol
  apps/agent/package.json
  apps/agent/scripts/buidler-hooks.js
Labels: app: agent, app: finance, app: token manager, component: contract, component: frontend

#1131 Migrate to Buidler plugin
  .gitignore
  .travis.yml
  apps/agent/.solcover.js
  apps/agent/arapp.json
  apps/agent/buidler.config.js
  apps/agent/contracts/test/TestImports.sol
  apps/agent/package.json
  apps/agent/test/agent_shared.js
  apps/agent/truffle.js
  apps/agreement/.solcover.js
  apps/agreement/arapp.json
  apps/agreement/buidler.config.js
  apps/agreement/contracts/test/TestImports.sol
  apps/agreement/package.json
  apps/agreement/test/agreement/agreement_gas_cost.js
  apps/agreement/truffle.js
  apps/finance/.solcover.js
  apps/finance/app/package.json
  apps/finance/arapp.json
  apps/finance/buidler.config.js
  apps/finance/contracts/test/TestImports.sol
  apps/finance/package.json
  apps/finance/truffle.js
  apps/token-manager/.solcover.js
  apps/token-manager/arapp.json
  apps/token-manager/buidler.config.js
  apps/token-manager/contracts/test/TestImports.sol
  apps/token-manager/package.json
  apps/token-manager/truffle.js
  apps/vault/.solcover.js
  apps/vault/buidler.config.js
  apps/vault/contracts/test/TestImports.sol
  apps/vault/package.json
  apps/vault/truffle.js
  apps/voting/.solcover.js
  apps/voting/arapp.json
  apps/voting/buidler.config.js
  apps/voting/contracts/test/TestImports.sol
  apps/voting/package.json
  apps/voting/truffle.js
  package.json
  shared/migrations/README.md
  shared/migrations/contracts/Migrations.sol
  shared/migrations/package.json
  yarn.lock
Labels: app: agent, app: finance, app: token manager, app: vault, component: contract, component: frontend

#1247 Agreement: Update aragonOS to v5.0.0-beta.8
  apps/agreement/contracts/Agreement.sol
  apps/agreement/contracts/arbitration/IAragonAppFeesCashier.sol
  apps/agreement/contracts/arbitration/IArbitrable.sol
  apps/agreement/contracts/arbitration/IArbitrator.sol
  apps/agreement/contracts/test/mocks/disputable/AragonAppFeesCashierMock.sol
  apps/agreement/contracts/test/mocks/disputable/ArbitratorMock.sol
  apps/agreement/contracts/test/mocks/disputable/DisputableAppMock.sol
  apps/agreement/package.json
  yarn.lock
Labels: component: contract

#1248 Agreement: Security-related bug fixes
  apps/agreement/contracts/Agreement.sol
  apps/agreement/test/agreement/agreement_initialize.js
  apps/agreement/test/agreement/agreement_new_action.js
  apps/agreement/test/agreement/agreement_signing.js
  apps/agreement/test/helpers/utils/errors.js
  apps/agreement/test/helpers/wrappers/agreement.js
  apps/agreement/test/helpers/wrappers/disputable.js
Labels: component: contract

#1249 DisputableVoting: Update aragonOS to v5.0.0-beta.8
  apps/voting-disputable/contracts/DisputableVoting.sol
  apps/voting-disputable/contracts/test/mocks/DisputableVotingWithoutAgreementMock.sol
  apps/voting-disputable/package.json
  apps/voting-disputable/test/contracts/voting_disputable.js
  apps/voting-disputable/test/contracts/voting_gas_costs.js
Labels: component: contract

#1250 DisputableVoting: Migrate to buidler
  apps/voting-disputable/.solcover.js
  apps/voting-disputable/arapp.json
  apps/voting-disputable/buidler.config.js
  apps/voting-disputable/contracts/test/TestImports.sol
  apps/voting-disputable/package.json
  apps/voting-disputable/test/contracts/voting_delegation.js
  apps/voting-disputable/test/contracts/voting_gas_costs.js
  apps/voting-disputable/truffle.js
Labels: component: contract

#1252 DisputableVoting: Improve test suite to use a real Agreement instance
  apps/voting-disputable/contracts/test/mocks/DisputableVotingWithoutAgreementMock.sol
  apps/voting-disputable/test/contracts/voting_create.js
  apps/voting-disputable/test/contracts/voting_disputable.js
  apps/voting-disputable/test/contracts/voting_gas_costs.js
  apps/voting-disputable/test/helpers/deployer.js
  apps/voting-disputable/test/helpers/voting.js
Labels: component: contract

#1253 Agreement: cosmetic polish
  apps/agreement/contracts/Agreement.sol
  apps/agreement/contracts/test/mocks/disputable/AragonAppFeesCashierMock.sol
  apps/agreement/contracts/test/mocks/disputable/DisputableAppMock.sol
  apps/agreement/test/agreement/agreement_activation.js
  apps/agreement/test/agreement/agreement_new_action.js
  apps/agreement/test/helpers/utils/errors.js
Labels: component: contract

#1255 DisputableVoting: cosmetic polish
  apps/agreement/contracts/Agreement.sol
  apps/voting-disputable/arapp.json
  apps/voting-disputable/contracts/DisputableVoting.sol
  apps/voting-disputable/contracts/test/mocks/DisputableVotingMock.sol
  apps/voting-disputable/test/contracts/voting_delegation.js
  apps/voting-disputable/test/contracts/voting_initialization.js
  apps/voting-disputable/test/contracts/voting_roles.js
  apps/voting-disputable/test/contracts/voting_settings.js
  apps/voting-disputable/test/helpers/deployer.js
  apps/voting-disputable/test/helpers/errors.js
Labels: component: contract

#1259 DisputableVoting: migrate to staking 0.2.9
  .travis.yml
  apps/agreement/package.json
  apps/voting-disputable/buidler.config.staking.js
  apps/voting-disputable/contracts/test/TestImports.sol
  apps/voting-disputable/mocks/staking/StakingImports.sol
  apps/voting-disputable/package.json
  yarn.lock
Labels: component: contract

#1260 Apps: align and polish package.json files
  apps/agent/buidler.config.js
  apps/agent/package.json
  apps/agreement/package.json
  apps/finance/buidler.config.js
  apps/finance/package.json
  apps/token-manager/buidler.config.js
  apps/token-manager/package.json
  apps/vault/buidler.config.js
  apps/vault/package.json
  apps/voting-disputable/package.json
  apps/voting/buidler.config.js
  apps/voting/package.json
  yarn.lock
Labels: app: agent, app: finance, app: token manager, app: vault, app: voting

#1254 [Internal audit] Agreement
  apps/agreement/buidler.config.js
  apps/agreement/contracts/Agreement.sol
  apps/agreement/contracts/test/mocks/disputable/ArbitratorMock.sol
  apps/agreement/contracts/test/mocks/disputable/DisputableAppMock.sol
  apps/agreement/contracts/test/mocks/helpers/TokenBalanceOracle.sol
  apps/agreement/test/agreement/agreement_activation.js
  apps/agreement/test/agreement/agreement_challenge.js
  apps/agreement/test/agreement/agreement_close.js
  apps/agreement/test/agreement/agreement_dispute.js
  apps/agreement/test/agreement/agreement_evidence.js
  apps/agreement/test/agreement/agreement_gas_cost.js
  apps/agreement/test/agreement/agreement_initialize.js
  apps/agreement/test/agreement/agreement_new_action.js
  apps/agreement/test/agreement/agreement_rule.js
  apps/agreement/test/agreement/agreement_settlement.js
  apps/agreement/test/helpers/utils/deployer.js
  apps/agreement/test/helpers/utils/errors.js
  apps/agreement/test/helpers/wrappers/agreement.js
  apps/agreement/test/helpers/wrappers/disputable.js
Labels: component: contract

#1256 [Internal audit] DisputableVoting
  apps/voting-disputable/arapp.json
  apps/voting-disputable/contracts/DisputableVoting.sol
  apps/voting-disputable/contracts/test/mocks/DisputableVotingMock.sol
  apps/voting-disputable/test/contracts/voting_create.js
  apps/voting-disputable/test/contracts/voting_delegation.js
  apps/voting-disputable/test/contracts/voting_disputable.js
  apps/voting-disputable/test/contracts/voting_execution.js
  apps/voting-disputable/test/contracts/voting_gas_costs.js
  apps/voting-disputable/test/contracts/voting_initialization.js
  apps/voting-disputable/test/contracts/voting_quiet_ending.js
  apps/voting-disputable/test/contracts/voting_roles.js
  apps/voting-disputable/test/contracts/voting_settings.js
  apps/voting-disputable/test/contracts/voting_vote.js
  apps/voting-disputable/test/helpers/deployer.js
  apps/voting-disputable/test/helpers/errors.js
  apps/voting-disputable/test/helpers/voting.js
Labels: component: contract

#1262 Voting: Rollback disputable voting related changes
  apps/voting/app/src/agreementsMockData.js
  apps/voting/app/src/components/DisputableStatusLabel.js
  apps/voting/app/src/components/VoteCard/VoteCard.js
  apps/voting/app/src/components/VoteDetail/DisputableActionStatus.js
  apps/voting/app/src/components/VoteDetail/DisputableActions.js
  apps/voting/app/src/components/VoteDetail/VoteInfoBoxes.js
  apps/voting/app/src/disputable-vote-statuses.js
  apps/voting/app/src/screens/VoteDetail.js
Labels: app: voting, component: frontend

#1263 Agreement, Vault: remove build script for frontend
  apps/agreement/package.json
  apps/vault/package.json
Labels: app: vault
