Repository aragon/aragon-apps, pull requests merged in 2020-01, with the labels that each got.

#1064 Finance: add ANJ to verified tokens
  apps/finance/app/src/lib/verified-tokens.js
Labels: app: finance, component: frontend

#1058 Agent: add ERC721Receiver support
  apps/agent/contracts/Agent.sol
  apps/agent/contracts/standards/IERC721Receiver.sol
  apps/agent/test/agent_shared.js
Labels: app: agent, component: contract

#1066 Voting: avoid crashing when external app details are not loadable
  apps/voting/app/src/App.js
  apps/voting/app/src/app-logic.js
  apps/voting/app/src/components/NewVotePanel.js
  apps/voting/app/src/components/VoteCard/VoteOptions.js
  apps/voting/app/src/hooks/usePanelState.js
  apps/voting/app/src/hooks/useVotes.js
  apps/voting/app/src/screens/Votes.js
  apps/voting/app/src/web3-utils.js
Labels: app: voting, component: frontend

#1069 Tokens: remove verified list
  apps/token-manager/app/src/verified-tokens.js
Labels: app: token manager, component: frontend

#1070 Voting: wrap attempt to fetch execution date with exponential retries
  apps/voting/app/src/script.js
Labels: app: voting, component: frontend

#1071 chore: update truffle config to shared config
  apps/agent/package.json
  apps/agent/truffle.js
  apps/finance/package.json
  apps/finance/truffle.js
  apps/survey/package.json
  apps/survey/truffle.js
  apps/token-manager/package.json
  apps/token-manager/truffle.js
  apps/vault/package.json
  apps/vault/truffle.js
  apps/voting/package.json
  apps/voting/truffle.js
  future-apps/payroll/package.json
  future-apps/payroll/truffle.js
Labels: app: agent, app: finance, app: survey, app: token manager, app: vault, app: voting

#1074 Finance: add immediate check for USDC balance
  apps/finance/app/src/App.js
  apps/finance/app/src/lib/token-utils.js
Labels: app: finance

#1075 Apps: update ENS registry address in arapp.json
  apps/agent/arapp.json
  apps/finance/arapp.json
  apps/survey/arapp.json
  apps/token-manager/arapp.json
  apps/vault/arapp.json
  apps/voting/arapp.json
  future-apps/payroll/arapp.json
Labels: app: agent, app: finance, app: survey, app: token manager, app: vault, app: voting
