Repository aragon/aragon-apps, pull requests merged in 2020-05, with the labels that each got.

#1138 Agreements: Split staking contract
  apps/agreement/contracts/Agreement.sol
  apps/agreement/contracts/Staking.sol
  apps/agreement/contracts/staking/Staking.sol
  apps/agreement/contracts/staking/StakingFactory.sol
  apps/agreement/test/agreement/agreement_challenge.js
  apps/agreement/test/agreement/agreement_close.js
  apps/agreement/test/agreement/agreement_dispute.js
  apps/agreement/test/agreement/agreement_evidence.js
  apps/agreement/test/agreement/agreement_initialize.js
  apps/agreement/test/agreement/agreement_new_action.js
  apps/agreement/test/agreement/agreement_rule.js
  apps/agreement/test/agreement/agreement_settlement.js
  apps/agreement/test/agreement/agreement_staking.js
  apps/agreement/test/delay/delay_gas_cost.js
  apps/agreement/test/delay/delay_integration.js
  apps/agreement/test/delay/delay_schedule.js
  apps/agreement/test/helpers/utils/deployer.js
  apps/agreement/test/helpers/utils/errors.js
  apps/agreement/test/helpers/utils/events.js
  apps/agreement/test/helpers/wrappers/agreement.js
  apps/agreement/test/helpers/wrappers/disputable.js
Labels: component: contract

#1146 Voting: update VoteText's address rendering
  apps/voting/app/src/components/VoteText.js
Labels: app: voting, component: frontend

#1130 Finance, Token Manager: Forms MAX button
  apps/finance/app/src/components/AmountInput.js
  apps/finance/app/src/components/NewTransfer/Deposit.js
  apps/finance/app/src/components/NewTransfer/Withdrawal.js
  apps/token-manager/app/src/components/AmountInput.js
  apps/token-manager/app/src/components/UpdateTokenPanel/UpdateTokenPanel.js
Labels: app: finance, app: token manager, component: frontend
