Repository aragon/aragon-apps, pull requests merged in 2020-04, with the labels that each got.

#1108 Vault: Move to buidler setup
  .gitignore
  apps/vault/.solhint.json
  apps/vault/.solhintignore
  apps/vault/arapp.json
  apps/vault/buidler.config.js
  apps/vault/contracts/test/TestImports.sol
  apps/vault/migrations/1_initial_migration.js
  apps/vault/package.json
  apps/vault/test/vault_shared.js
  apps/vault/truffle.js
Labels: app: vault, component: contract

#1110 Voting: add support / approval copy suggestion
  apps/voting/app/src/screens/VoteDetail.js
Labels: app: voting, component: frontend

#1104 Finance: format token helper script section to match Agent's
  apps/finance/app/src/script.js
Labels: app: finance, component: frontend

#1115 Voting: fix voting copy to fit one line & add tooltip
  apps/voting/app/.prettierrc
  apps/voting/app/src/screens/VoteDetail.js
Labels: app: voting, component: frontend

#1117 Voting: quorum and support hint copy updates
  apps/voting/app/src/screens/VoteDetail.js
Labels: app: voting, component: frontend

#1102 Finance: port agent filtering to finance
  apps/agent/app/src/components/useFilteredTransactions.js
  apps/finance/app/src/components/Transfers.js
  apps/finance/app/src/components/TransfersFilters.js
  apps/finance/app/src/components/useFilteredTransfers.js
  apps/finance/app/src/transfer-types.js
Labels: app: agent, app: finance, component: frontend

#1116 Voting: fix race condition with currentApp address being null
  apps/voting/app/src/hooks/useVotes.js
Labels: app: voting, component: frontend

#1122 Tokens: update terminology to prefer 'tokenholder'
  apps/token-manager/app/src/components/InfoBoxes.js
  apps/token-manager/app/src/screens/EmptyState.js
  apps/token-manager/app/src/script.js
  apps/token-manager/test/tokenmanager.js
Labels: app: token manager, component: frontend

#1123 Voting: update terminology to prefer 'cast'
  apps/voting/app/src/components/VoteCast.js
  apps/voting/app/src/screens/VoteDetail.js
  apps/voting/app/src/script.js
Labels: app: voting, component: frontend

#1103 Finance: add useDownloadData hook
  apps/finance/app/src/components/Transfers.js
  apps/finance/app/src/components/useDownloadData.js
  apps/finance/app/src/lib/date-utils.js
Labels: app: agent, app: finance, component: frontend

#1127 Voting: fix UTC still being present in VoteDetail
  apps/voting/app/src/screens/VoteDetail.js
Labels: app: voting, component: frontend
