Repository aragon/aragon-apps, pull requests merged in 2020-06, with the labels that each got.

#1153 Voting: fix init params on Buidler plugin
  apps/voting/scripts/buidler-hooks.js
Labels: app: voting

#758 Survey: add no token cost info card
  apps/survey/app/src/components/VotingPanel/VotingPanel.js
Labels: component: frontend

#1155 Survey, Token Manager: add prettier config
  apps/survey/app/.prettierrc
  apps/token-manager/app/.prettierrc
Labels: app: token manager, component: frontend

#1121 Finance: update BN.js usage, use `formatTokenAmount()`, add rounded balances tooltip
  apps/finance/app/package.json
  apps/finance/app/src/App.js
  apps/finance/app/src/app-state-reducer.js
  apps/finance/app/src/components/BalanceToken.js
  apps/finance/app/src/components/Balances.js
  apps/finance/app/src/components/Transfers.js
  apps/finance/app/src/lib/math-utils.js
  apps/finance/app/src/lib/utils.js
Labels: app: finance, component: frontend

#1163 Tokens: avoid displaying locked balance if no tokens are locked
  apps/token-manager/app/src/screens/Holders.js
Labels: app: token manager, component: frontend

#1151 Integrate external Staking app
  apps/agreement/contracts/Agreement.sol
  apps/agreement/contracts/staking/Staking.sol
  apps/agreement/contracts/staking/StakingFactory.sol
  apps/agreement/package.json
  apps/agreement/test/agreement/agreement_dispute.js
  apps/agreement/test/agreement/agreement_gas_cost.js
  apps/agreement/test/agreement/agreement_integration.js
  apps/agreement/test/agreement/agreement_rule.js
  apps/agreement/test/agreement/agreement_staking.js
  apps/agreement/test/helpers/assert/assertEvent.js
  apps/agreement/test/helpers/utils/deployer.js
  apps/agreement/test/helpers/utils/errors.js
  apps/agreement/test/helpers/wrappers/agreement.js
  apps/agreement/test/helpers/wrappers/disputable.js
Labels: component: contract

#1165 Voting: migrate date format to ISO-8601
  apps/voting/app/src/screens/VoteDetail.js
  apps/voting/app/src/screens/Votes.js
Labels: app: voting, component: frontend

#1168 Voting: fix typo in app center description
  apps/voting/app/public/meta/details.md
Labels: app: voting, component: frontend

#1167 Agreement: Fix web3 libraries versions
  apps/agreement/package.json
Labels: app: agent, app: finance, component: frontend

#1171 Tokens: Move renderEntry hook calls into its own component & fix crash
  apps/token-manager/app/src/screens/Holders.js
Labels: app: token manager, component: frontend

#1172 Fix CI
  apps/agent/contracts/test/mocks/AgentMock.sol
  apps/agent/package.json
  apps/agent/test/agent.js
  apps/agent/test/agent_shared.js
  apps/finance/package.json
  apps/vault/package.json
  future-apps/payroll/test/contracts/Payroll_gas_costs.test.js
Labels: app: agent, app: finance, app: vault, component: contract

#1174 Agent, Finance: update date format
  apps/agent/app/src/components/TransactionFilters.js
  apps/agent/app/src/components/Transactions.js
  apps/agent/app/src/components/useDownloadData.js
  apps/agent/app/src/lib/date-utils.js
  apps/finance/app/src/components/Transfers.js
  apps/finance/app/src/components/TransfersFilters.js
Labels: app: agent, app: finance, component: frontend

#1169 Agent: update help text
  apps/agent/app/src/App.js
  apps/agent/app/src/components/AgentHelp.js
  apps/agent/app/src/components/AgentSvg.js
  apps/agent/app/src/components/FrameModal.js
  apps/agent/app/src/components/FrameSvg.js
Labels: app: agent, component: frontend

#1177 Fix finance USD conversion mechanism
  apps/finance/app/.babelrc
  apps/finance/app/package.json
  apps/finance/app/src/components/Balances.js
  apps/finance/app/src/components/useConvertRates.js
  apps/finance/app/src/lib/conversion-utils.js
  apps/finance/app/src/lib/conversion-utils.test.js
Labels: app: finance, component: frontend

#1133 Agreement: Implement protocol for disputable apps
  .gitignore
  .travis.yml
  README.md
  apps/agreement/.solcover.js
  apps/agreement/.soliumignore
  apps/agreement/.soliumrc.json
  apps/agreement/README.md
  apps/agreement/arapp.json
  apps/agreement/contracts/Agreement.sol
  apps/agreement/contracts/example/RegistryApp.sol
  apps/agreement/contracts/lib/BytesHelper.sol
  apps/agreement/contracts/test/TestImports.sol
  apps/agreement/contracts/test/mocks/AgreementMock.sol
  apps/agreement/contracts/test/mocks/disputable/ArbitratorMock.sol
  apps/agreement/contracts/test/mocks/disputable/DisputableAppMock.sol
  apps/agreement/contracts/test/mocks/helpers/ExecutionTarget.sol
  apps/agreement/contracts/test/mocks/helpers/TimeHelpersMock.sol
  apps/agreement/contracts/test/mocks/helpers/TokenBalanceOracle.sol
  apps/agreement/manifest.json
  apps/agreement/package.json
  apps/agreement/public/meta/details.md
  apps/agreement/public/meta/icon.svg
  apps/agreement/scripts/ganache-cli.sh
  apps/agreement/test/agreement/agreement_activation.js
  apps/agreement/test/agreement/agreement_challenge.js
  apps/agreement/test/agreement/agreement_close.js
  apps/agreement/test/agreement/agreement_collateral.js
  apps/agreement/test/agreement/agreement_dispute.js
  apps/agreement/test/agreement/agreement_evidence.js
  apps/agreement/test/agreement/agreement_gas_cost.js
  apps/agreement/test/agreement/agreement_initialize.js
  apps/agreement/test/agreement/agreement_integration.js
  apps/agreement/test/agreement/agreement_new_action.js
  apps/agreement/test/agreement/agreement_permissions.js
  apps/agreement/test/agreement/agreement_rule.js
  apps/agreement/test/agreement/agreement_settlement.js
  apps/agreement/test/agreement/agreement_signing.js
  apps/agreement/test/agreement/agreement_staking.js
  apps/agreement/test/helpers/assert/assertBn.js
  apps/agreement/test/helpers/assert/assertEvent.js
  apps/agreement/test/helpers/assert/assertThrow.js
  apps/agreement/test/helpers/lib/decodeEvent.js
  apps/agreement/test/helpers/lib/numbers.js
  apps/agreement/test/helpers/lib/time.js
  apps/agreement/test/helpers/utils/deployer.js
  apps/agreement/test/helpers/utils/enums.js
  apps/agreement/test/helpers/utils/errors.js
  apps/agreement/test/helpers/utils/events.js
  apps/agreement/test/helpers/wrappers/agreement.js
  apps/agreement/test/helpers/wrappers/disputable.js
  apps/agreement/truffle.js
  package.json
Labels: app: agent, component: contract, component: frontend

#1184 Agreement: Remove redundant require on activation
  apps/agreement/contracts/Agreement.sol
Labels: component: contract
