Repository aragon/aragon-apps, pull requests merged in 2020-03, with the labels that each got.

#1086 Finance: Add proper DataView empty state
  apps/finance/app/package.json
  apps/finance/app/src/App.js
  apps/finance/app/src/components/EmptyTransactions.js
  apps/finance/app/src/components/Transfers.js
  apps/finance/app/src/components/assets/no-transfers.png
Labels: app: finance

#1094 Agent: update agent copy for new release
  apps/agent/app/src/components/ComingSoon.js
Labels: app: agent, component: frontend

#1095 Agent: update App Center description
  apps/agent/app/public/meta/details.md
  apps/agent/public/meta/details.md
  apps/agent/public/meta/icon.svg
  apps/finance/app/public/meta/details.md
  apps/token-manager/app/public/meta/details.md
Labels: app: agent, app: finance, app: token manager, component: frontend

#1082 Agent: read-only UI
  apps/agent/app/.eslintrc
  apps/agent/app/package.json
  apps/agent/app/public/meta/screenshot-1.png
  apps/agent/app/public/meta/screenshot-2.png
  apps/agent/app/public/meta/screenshot-3.png
  apps/agent/app/src/App.js
  apps/agent/app/src/app-state-reducer.js
  apps/agent/app/src/components/AgentSvg.js
  apps/agent/app/src/components/BalanceToken.js
  apps/agent/app/src/components/Balances.js
  apps/agent/app/src/components/ComingSoon.js
  apps/agent/app/src/components/DownloadButton.js
  apps/agent/app/src/components/EmptyFilteredTransfers.js
  apps/agent/app/src/components/IdentityManager/IdentityManager.js
  apps/agent/app/src/components/InstallFrame.js
  apps/agent/app/src/components/LocalIdentityBadge/LocalIdentityBadge.js
  apps/agent/app/src/components/ToggleContent.js
  apps/agent/app/src/components/TransactionFilters.js
  apps/agent/app/src/components/Transactions.js
  apps/agent/app/src/components/Transfers.js
  apps/agent/app/src/components/TransfersFilters.js
  apps/agent/app/src/components/assets/BCC.png
  apps/agent/app/src/components/assets/agent.svg
  apps/agent/app/src/components/assets/agent_badge.svg
  apps/agent/app/src/components/assets/no-results.svg
  apps/agent/app/src/components/useDownloadData.js
  apps/agent/app/src/components/useFilteredTransactions.js
  apps/agent/app/src/components/useFilteredTransfers.js
  apps/agent/app/src/lib/date-utils.js
  apps/agent/app/src/lib/icon-utils.js
  apps/agent/app/src/lib/locales.js
  apps/agent/app/src/lib/token-utils.js
  apps/agent/app/src/lib/utils.js
  apps/agent/app/src/lib/verified-tokens.js
  apps/agent/app/src/script.js
  apps/agent/app/src/transaction-types.js
  apps/agent/app/src/transfer-types.js
  apps/agent/manifest.json
Labels: app: agent, component: frontend

#1096 Agent: fix screenshot location
  apps/agent/manifest.json
Labels: app: agent

#1099 Agent: Fix dropdown arrow appearing on mobile on executions with 0 token transfers
  apps/agent/app/src/components/Transactions.js
Labels: app: agent, component: frontend
