Repository aragon/aragon-apps, pull requests merged in 2020-09, with the labels that each got.

#1266 Apps: update buidler config and remove keys
  apps/agent/buidler.config.js
  apps/agreement/buidler.config.js
  apps/finance/buidler.config.js
  apps/token-manager/buidler.config.js
  apps/vault/buidler.config.js
  apps/voting-disputable/buidler.config.js
  apps/voting/buidler.config.js
Labels: app: agent, app: finance, app: token manager, app: vault, app: voting

#1267 Agreement: Flip ruling outcomes
  apps/agreement/contracts/Agreement.sol
  apps/agreement/test/helpers/utils/enums.js
Labels: component: contract

#1264 Agreement: Close evidence period automatically
  apps/agreement/contracts/Agreement.sol
  apps/agreement/test/agreement/agreement_dispute.js
Labels: component: contract

#1269 Agreement: Update staking dependency
  apps/agreement/contracts/Agreement.sol
  apps/agreement/package.json
  apps/agreement/test/agreement/agreement_gas_cost.js
  apps/agreement/test/agreement/agreement_lock_manager.js
  apps/agreement/test/agreement/agreement_new_action.js
  apps/agreement/test/helpers/wrappers/agreement.js
  apps/voting-disputable/package.json
  yarn.lock
Labels: component: contract

#1271 Finance: fix transfers layout (text overflow)
  apps/agent/app/src/components/Transactions.js
  apps/finance/app/src/components/Transfers.js
Labels: app: agent, app: finance, component: frontend

#1270 Agreement: Catch close evidence period failure
  apps/agreement/contracts/Agreement.sol
  apps/agreement/contracts/test/mocks/disputable/ArbitratorMock.sol
  apps/agreement/test/agreement/agreement_dispute.js
Labels: component: contract

#1268 [External audit] Disputable framework fixes
  apps/agreement/contracts/Agreement.sol
  apps/agreement/contracts/test/mocks/disputable/AragonAppFeesCashierMock.sol
  apps/agreement/test/agreement/agreement_new_action.js
  apps/agreement/test/helpers/utils/events.js
  apps/agreement/test/helpers/wrappers/disputable.js
  apps/voting-disputable/contracts/DisputableVoting.sol
Labels: component: contract
