Repository aragon/aragon-apps, pull requests merged in 2020-07, with the labels that each got.

#1149 Disputable Voting: Implement smart contracts
  .travis.yml
  README.md
  apps/voting-disputable/.solcover.js
  apps/voting-disputable/.soliumignore
  apps/voting-disputable/.soliumrc.json
  apps/voting-disputable/README.md
  apps/voting-disputable/arapp.json
  apps/voting-disputable/contracts/.npmignore
  apps/voting-disputable/contracts/DisputableVoting.sol
  apps/voting-disputable/contracts/test/TestImports.sol
  apps/voting-disputable/contracts/test/mocks/DisputableVotingMock.sol
  apps/voting-disputable/contracts/test/mocks/DisputableVotingWithoutAgreementMock.sol
  apps/voting-disputable/contracts/test/mocks/ExecutionTarget.sol
  apps/voting-disputable/manifest.json
  apps/voting-disputable/package.json
  apps/voting-disputable/public/meta/details.md
  apps/voting-disputable/public/meta/icon.svg
  apps/voting-disputable/public/meta/screenshot-1.png
  apps/voting-disputable/public/meta/screenshot-2.png
  apps/voting-disputable/public/meta/screenshot-3.png
  apps/voting-disputable/test/contracts/voting.js
  apps/voting-disputable/test/contracts/voting_delegation.js
  apps/voting-disputable/test/contracts/voting_disputable.js
  apps/voting-disputable/test/helpers/state.js
  apps/voting-disputable/test/helpers/voting.js
  apps/voting-disputable/truffle.js
  package.json
Labels: app: voting, component: contract, component: frontend

#1179 Agreements voting app: 2 – Disputable action status component
  apps/voting/app/src/agreementsMockData.js
  apps/voting/app/src/components/VoteDetail/DisputableActionStatus.js
  apps/voting/app/src/components/VoteDetail/VoteInfoBoxes.js
  apps/voting/app/src/screens/VoteDetail.js
Labels: app: voting, component: frontend

#1187 Disputable Voting: Disallow multiple challenges
  apps/voting-disputable/contracts/DisputableVoting.sol
  apps/voting-disputable/test/contracts/voting_disputable.js
Labels: component: contract

#1181 Agreements voting app: 3 – Disputable status label
  apps/voting/app/src/components/DisputableStatusLabel.js
  apps/voting/app/src/components/VoteDetail/DisputableActionStatus.js
  apps/voting/app/src/disputable-vote-statuses.js
Labels: app: voting, component: frontend

#1176 Agreement: Integrate transaction fees
  apps/agreement/contracts/Agreement.sol
  apps/agreement/contracts/test/mocks/disputable/AragonAppFeesCashierMock.sol
  apps/agreement/contracts/test/mocks/helpers/TokenBalanceOracle.sol
  apps/agreement/package.json
  apps/agreement/test/agreement/agreement_challenge.js
  apps/agreement/test/agreement/agreement_gas_cost.js
  apps/agreement/test/agreement/agreement_initialize.js
  apps/agreement/test/agreement/agreement_new_action.js
  apps/agreement/test/agreement/agreement_signing.js
  apps/agreement/test/helpers/utils/deployer.js
  apps/agreement/test/helpers/utils/errors.js
  apps/agreement/test/helpers/wrappers/agreement.js
  apps/agreement/test/helpers/wrappers/disputable.js
Labels: component: contract

#1182 Agreements voting app: 4 – Disputable actions
  apps/voting/app/src/components/VoteDetail/DisputableActionStatus.js
  apps/voting/app/src/components/VoteDetail/DisputableActions.js
Labels: app: voting, component: frontend

#1188 Agreement: Simplify dispute metadata construction
  apps/agreement/contracts/Agreement.sol
  apps/agreement/contracts/lib/BytesHelper.sol
  apps/agreement/test/agreement/agreement_dispute.js
Labels: component: contract

#1185 Agreements voting app: 5- Reflect disputable status on vote cards
  apps/voting/app/src/components/VoteCard/VoteCard.js
Labels: app: voting, component: frontend

#1192 Agent: Add useToast to agent export on click
  apps/agent/app/src/components/useDownloadData.js
Labels: app: agent, component: frontend

#1190 Agreement: Update arapp json file
  apps/agreement/arapp.json
  apps/agreement/contracts/Agreement.sol
Labels: component: contract

#1191 Disputable Voting: Improve roles declaration
  apps/voting-disputable/arapp.json
  apps/voting-disputable/contracts/DisputableVoting.sol
  apps/voting-disputable/package.json
Labels: component: contract

#1183 Agent: support ERC-1155
  apps/agent/contracts/Agent.sol
  apps/agent/contracts/standards/IERC1155Receiver.sol
  apps/agent/contracts/standards/IERC165.sol
  apps/agent/contracts/standards/IERC721Receiver.sol
  apps/agent/test/agent_shared.js
Labels: app: agent, component: contract

#1196 Disputable Voting: Support delayed execution
  apps/voting-disputable/arapp.json
  apps/voting-disputable/contracts/DisputableVoting.sol
  apps/voting-disputable/test/contracts/voting_execution.js
  apps/voting-disputable/test/contracts/voting_initialization.js
  apps/voting-disputable/test/contracts/voting_settings.js
  apps/voting-disputable/test/contracts/voting_vote.js
  apps/voting-disputable/test/helpers/deployer.js
  apps/voting-disputable/test/helpers/errors.js
  apps/voting-disputable/test/helpers/voting.js
Labels: component: contract

#1202 Agent: update ERC-1271 magic value
  apps/agent/contracts/Agent.sol
  apps/agent/contracts/SignatureValidator.sol
  apps/agent/contracts/standards/ERC1271.sol
  apps/agent/contracts/test/mocks/AgentMock.sol
  apps/agent/contracts/test/mocks/DesignatedSigner.sol
  apps/agent/test/agent.js
  apps/agent/test/agent_shared.js
Labels: app: agent, component: contract

#1193 Agent: Filtering Updates
  apps/agent/app/src/components/Transactions.js
  apps/agent/app/src/components/useFilteredTransactions.js
Labels: app: agent, component: frontend

#1200 Agent: replicate rate conversion strategy from #1177
  apps/agent/app/src/components/BalanceToken.js
  apps/agent/app/src/components/Balances.js
  apps/agent/app/src/components/useConvertRates.js
  apps/agent/app/src/lib/conversion-utils.js
  apps/agent/app/src/lib/conversion-utils.test.js
Labels: app: agent, component: frontend

#1210 voting-disputable: Use new ACL version
  apps/voting-disputable/contracts/DisputableVoting.sol
  apps/voting-disputable/contracts/test/mocks/DisputableVotingMock.sol
  apps/voting-disputable/contracts/test/mocks/DisputableVotingWithoutAgreementMock.sol
  apps/voting-disputable/package.json
  apps/voting-disputable/test/contracts/voting_delegation.js
  apps/voting-disputable/test/contracts/voting_vote.js
  apps/voting-disputable/test/helpers/voting.js
Labels: component: contract

#1209 Agreement: Use new ACL version
  apps/agreement/contracts/Agreement.sol
  apps/agreement/contracts/example/RegistryApp.sol
  apps/agreement/contracts/test/mocks/disputable/AragonAppFeesCashierMock.sol
  apps/agreement/contracts/test/mocks/disputable/DisputableAppMock.sol
  apps/agreement/contracts/test/mocks/helpers/TokenBalanceOracle.sol
Labels: component: contract

#1212 Agreement: Improve ACL oracle implementation
  apps/agreement/contracts/Agreement.sol
  apps/agreement/contracts/example/RegistryApp.sol
  apps/agreement/package.json
Labels: component: contract

#1213 Agreement: Implement try catch
  apps/agreement/contracts/Agreement.sol
  apps/agreement/contracts/test/mocks/disputable/DisputableAppMock.sol
  apps/agreement/test/agreement/agreement_challenge.js
  apps/agreement/test/agreement/agreement_rule.js
  apps/agreement/test/agreement/agreement_settlement.js
  apps/agreement/test/helpers/assert/assertEvent.js
  apps/agreement/test/helpers/wrappers/disputable.js
Labels: component: contract

#1217 Tokens: Fix token SyncIndicator position
  apps/token-manager/app/src/App.js
  apps/voting/app/src/App.js
Labels: app: token manager, app: voting, component: frontend

#1214 Agreement: Improve can close check for disputables
  apps/agreement/contracts/Agreement.sol
  apps/agreement/contracts/test/mocks/disputable/DisputableAppMock.sol
  apps/agreement/test/agreement/agreement_close.js
  apps/agreement/test/helpers/wrappers/disputable.js
Labels: component: contract

#1220 Tests: Fix assert event usage
  apps/agreement/test/agreement/agreement_activation.js
  apps/agreement/test/agreement/agreement_challenge.js
  apps/agreement/test/agreement/agreement_collateral.js
  apps/agreement/test/agreement/agreement_dispute.js
  apps/agreement/test/agreement/agreement_settlement.js
  apps/agreement/test/agreement/agreement_signing.js
  apps/finance/test/finance.js
Labels: app: finance

#1224 Vault: unskip test
  apps/vault/test/vault_shared.js
Labels: app: vault

#1215 Agreement: Support payable actions
  apps/agreement/contracts/Agreement.sol
  apps/agreement/contracts/example/RegistryApp.sol
  apps/agreement/contracts/test/mocks/disputable/AragonAppFeesCashierMock.sol
  apps/agreement/contracts/test/mocks/disputable/DisputableAppMock.sol
  apps/agreement/package.json
  apps/agreement/test/agreement/agreement_new_action.js
  apps/agreement/test/helpers/utils/deployer.js
  apps/agreement/test/helpers/utils/errors.js
  apps/agreement/test/helpers/wrappers/agreement.js
  apps/agreement/test/helpers/wrappers/disputable.js
Labels: component: contract

#1222 chore: migrate to yarn workspaces
  .gitignore
  .localkey.json
  .travis.yml
  README.md
  apps/agent/app/yarn.lock
  apps/agent/package.json
  apps/agreement/package.json
  apps/finance/app/yarn.lock
  apps/finance/package.json
  apps/token-manager/app/yarn.lock
  apps/token-manager/package.json
  apps/vault/package.json
  apps/voting/app/yarn.lock
  apps/voting/package.json
  lerna.json
  package.json
  scripts/install
  shared/scripts/package.json
  shared/scripts/prepare.js
  yarn.lock
Labels: app: agent, app: finance, app: token manager, app: vault, app: voting, component: frontend

#1205 Disputable Voting: Support quiet ending
  apps/voting-disputable/arapp.json
  apps/voting-disputable/contracts/DisputableVoting.sol
  apps/voting-disputable/test/contracts/voting_create.js
  apps/voting-disputable/test/contracts/voting_delegation.js
  apps/voting-disputable/test/contracts/voting_disputable.js
  apps/voting-disputable/test/contracts/voting_execution.js
  apps/voting-disputable/test/contracts/voting_initialization.js
  apps/voting-disputable/test/contracts/voting_settings.js
  apps/voting-disputable/test/contracts/voting_vote.js
  apps/voting-disputable/test/helpers/deployer.js
  apps/voting-disputable/test/helpers/errors.js
  apps/voting-disputable/test/helpers/state.js
  apps/voting-disputable/test/helpers/voting.js
  apps/voting-disputable/truffle.js
Labels: component: contract

#1227 DisputableVoting: Checkpoint settings
  apps/voting-disputable/contracts/DisputableVoting.sol
  apps/voting-disputable/test/contracts/voting_create.js
  apps/voting-disputable/test/contracts/voting_delegation.js
  apps/voting-disputable/test/contracts/voting_disputable.js
  apps/voting-disputable/test/contracts/voting_gas_costs.js
  apps/voting-disputable/test/contracts/voting_initialization.js
  apps/voting-disputable/test/contracts/voting_settings.js
  apps/voting-disputable/test/contracts/voting_vote.js
  apps/voting-disputable/test/helpers/voting.js
  apps/voting-disputable/truffle.js
Labels: app: agent, component: contract

#1230 DisputableVoting: Fix quiet ending extension
  apps/voting-disputable/contracts/DisputableVoting.sol
  apps/voting-disputable/test/contracts/voting_initialization.js
  apps/voting-disputable/test/contracts/voting_settings.js
Labels: component: contract

#1226 Agreement: Adapt to new IAragonApp interface
  apps/agreement/contracts/Agreement.sol
Labels: component: contract

#1232 agreements: Rollback payable actions
  apps/agent/package.json
  apps/agent/truffle.js
  apps/agreement/contracts/Agreement.sol
  apps/agreement/contracts/test/mocks/disputable/AragonAppFeesCashierMock.sol
  apps/agreement/contracts/test/mocks/disputable/DisputableAppMock.sol
  apps/agreement/package.json
  apps/agreement/test/agreement/agreement_new_action.js
  apps/agreement/test/helpers/utils/errors.js
  apps/finance/package.json
  apps/finance/truffle.js
  apps/token-manager/package.json
  apps/token-manager/truffle.js
  apps/vault/package.json
  apps/vault/truffle.js
  apps/voting/package.json
  apps/voting/truffle.js
Labels: app: agent, app: finance, app: token manager, app: vault, app: voting, component: contract

#1233 VotingDisputable: Support new forwarding interface with context
  apps/voting-disputable/contracts/DisputableVoting.sol
  apps/voting-disputable/test/contracts/voting_create.js
Labels: component: contract

#1229 Agreement: Implement Staking ILockManager
  apps/agreement/contracts/Agreement.sol
  apps/agreement/package.json
  apps/agreement/test/agreement/agreement_lock_manager.js
Labels: component: contract

#1235 Agreement: Update aragonOS to v5.0.0-beta.5
  apps/agreement/contracts/test/mocks/disputable/DisputableAppMock.sol
  apps/agreement/package.json
Labels: component: contract

#1231 Agreement: Ignore re-closing requests
  apps/agreement/contracts/Agreement.sol
  apps/agreement/test/agreement/agreement_close.js
  apps/agreement/test/agreement/agreement_gas_cost.js
Labels: component: contract

#1236 DisputableVoting: Update latest Agreement and aragonOS versions
  .gitignore
  .localkey.json
  .travis.yml
  README.md
  apps/agent/app/yarn.lock
  apps/agent/package.json
  apps/agent/truffle.js
  apps/agreement/contracts/Agreement.sol
  apps/agreement/contracts/example/RegistryApp.sol
  apps/agreement/contracts/test/mocks/disputable/AragonAppFeesCashierMock.sol
  apps/agreement/contracts/test/mocks/disputable/DisputableAppMock.sol
  apps/agreement/package.json
  apps/agreement/test/agreement/agreement_activation.js
  apps/agreement/test/agreement/agreement_challenge.js
  apps/agreement/test/agreement/agreement_close.js
  apps/agreement/test/agreement/agreement_collateral.js
  apps/agreement/test/agreement/agreement_dispute.js
  apps/agreement/test/agreement/agreement_gas_cost.js
  apps/agreement/test/agreement/agreement_lock_manager.js
  apps/agreement/test/agreement/agreement_new_action.js
  apps/agreement/test/agreement/agreement_settlement.js
  apps/agreement/test/agreement/agreement_signing.js
  apps/agreement/test/helpers/utils/deployer.js
  apps/agreement/test/helpers/utils/errors.js
  apps/agreement/test/helpers/wrappers/agreement.js
  apps/agreement/test/helpers/wrappers/disputable.js
  apps/finance/app/yarn.lock
  apps/finance/package.json
  apps/finance/test/finance.js
  apps/finance/truffle.js
  apps/token-manager/app/yarn.lock
  apps/token-manager/package.json
  apps/token-manager/truffle.js
  apps/vault/package.json
  apps/vault/test/vault_shared.js
  apps/vault/truffle.js
  apps/voting-disputable/contracts/DisputableVoting.sol
  apps/voting-disputable/package.json
  apps/voting/app/yarn.lock
  apps/voting/package.json
  apps/voting/truffle.js
  lerna.json
  package.json
  scripts/install
  shared/scripts/package.json
  shared/scripts/prepare.js
  yarn.lock
Labels: app: agent, app: finance, app: token manager, component: contract, component: frontend

#1234 DisputableVoting: Optimize quiet ending
  apps/voting-disputable/contracts/DisputableVoting.sol
  apps/voting-disputable/test/contracts/voting_delegation.js
  apps/voting-disputable/test/contracts/voting_disputable.js
  apps/voting-disputable/test/contracts/voting_gas_costs.js
  apps/voting-disputable/test/contracts/voting_quiet_ending.js
  apps/voting-disputable/test/contracts/voting_vote.js
  apps/voting-disputable/test/helpers/voting.js
Labels: component: contract

#1238 Agreements: Improve Arbitration fees distribution logic
  apps/agreement/contracts/Agreement.sol
  apps/agreement/package.json
  apps/agreement/test/agreement/agreement_challenge.js
  apps/agreement/test/agreement/agreement_dispute.js
  apps/agreement/test/agreement/agreement_gas_cost.js
  apps/agreement/test/agreement/agreement_integration.js
  apps/agreement/test/agreement/agreement_rule.js
  apps/agreement/test/agreement/agreement_settlement.js
  apps/agreement/test/helpers/wrappers/agreement.js
Labels: component: contract
