Repository aragon/aragon-apps, pull requests merged in 2021-12, with the labels that each got.

#1409 Test pipeline
  README.md
Labels: token-manager:patch, mumbai

#1412 adding network info for stardust and andromeda on base apps
  apps/agent/arapp.json
  apps/finance/arapp.json
  apps/token-manager/arapp.json
  apps/vault/arapp.json
  apps/voting/arapp.json
Labels: agent:major, finance:major, token-manager:major, vault:major, voting:major, stardust

#1413 updating hardhat-config
  apps/address-book/package.json
  apps/agent/package.json
  apps/agreement/package.json
  apps/allocations/package.json
  apps/dandelion-voting/package.json
  apps/discussions/package.json
  apps/dot-voting/package.json
  apps/finance/package.json
  apps/minime-factory/package.json
  apps/projects/package.json
  apps/redemptions/package.json
  apps/rewards/package.json
  apps/standard-bounties/package.json
  apps/time-lock/package.json
  apps/token-balance-oracle/package.json
  apps/token-manager/package.json
  apps/token-request/package.json
  apps/vault/package.json
  apps/voting-disputable/package.json
  apps/voting/package.json
Labels: app: vault, app: finance, app: voting, app: token manager, app: agent

#1415 adding mini me factory to stardust and andromeda
  apps/minime-factory/arapp.json
Labels: minime-factory:major, stardust

#1416 to trigger Metis andromeda deployment
  README.md
Labels: agent:major, finance:major, token-manager:major, vault:major, voting:major, minime-factory:major, andromeda

#1410 deploy dandelion and open enterprise apps to bscTest
  README.md
Labels: projects:major, address-book:major, allocations:major, redemptions:major, dandelion-voting:major, time-lock:major, token-request:major, standard-bounties:major, token-balance-oracle:major, discussions:major, dot-voting:major, rewards:major, minime-factory:major, bscTest

#1417 add bscTest, stardust and andromeda
  apps/address-book/arapp.json
  apps/allocations/arapp.json
  apps/dandelion-voting/arapp.json
  apps/discussions/arapp.json
  apps/dot-voting/arapp.json
  apps/minime-factory/arapp.json
  apps/projects/arapp.json
  apps/redemptions/arapp.json
  apps/rewards/arapp.json
  apps/standard-bounties/arapp.json
  apps/time-lock/arapp.json
  apps/token-balance-oracle/arapp.json
  apps/token-request/arapp.json
Labels: projects:major, address-book:major, allocations:major, redemptions:major, dandelion-voting:major, time-lock:major, token-request:major, standard-bounties:major, token-balance-oracle:major, discussions:major, dot-voting:major, rewards:major, minime-factory:major, bscTest

#1419 add release notes and remove create pr
  .github/scripts/release-notes.sh
  .github/scripts/update_deploymentfile.py
  .github/workflows/deploy.yml
Labels: redemptions:major, dandelion-voting:major, time-lock:major, token-request:major, token-balance-oracle:major, stardust
